<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');

$filteorg = $filter = isset($_POST['filter']) ? $_POST['filter']:"";
$filtercity = [];
$filterresult = [];
if(isset($filter) && !empty($filter)){
    $filter = preg_replace('/;/', "\r\n", $filter);
    $filter = preg_replace('/,/', "\r\n", $filter);
    $filter = preg_replace('/\s+/', "\r\n", $filter);

    $filter = preg_replace('/\r\n/', ";;;", $filter);

    $aLines = explode(";;;", $filter);
    foreach ($aLines as $sCity) {
        $sCity  = trim($sCity);
        if (empty($sCity)) {
            continue;
        }
        $sCity = str_replace("市", "", $sCity);
        $sCity = str_replace("省", "", $sCity);
        $filtercity[] = $sCity;
    }

}
// print_r($filtercity);
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title> ip-supply-stats </title>
  <meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
    <link href="http://libs.baidu.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <?php
    echo $this->ycheukfHeadlink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => '/module/'.strtolower(LAF_NAMESPACE).'/images/favicon.admin.ico'));
    ?>
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">

</script>
</head>

<body>

 <table class='table table-bordered'>
     <thead>
     <th>供应商</th>
     <th>去重数</th>
     <th>不去重数</th>
     <th>每个IP重复次数</th>
     <th>有效数百分比</th>
     <th>黑名单百分比</th>
     </thead>
     <?php
     if (count($this->stats)) {
         $html = "";
         foreach ($this->stats as $stats => $statsData) {
             $html .= "<tr>";
             $html .=  "<td>".$stats."</td>";
             $html .=  "<td>".$statsData['count_total']."</td>";
             $html .=  "<td>".$statsData['sum_total']."</td>";
             $html .=  "<td>".$statsData['freq']."</td>";
             $html .=  "<td>".$statsData['good_percent']."</td>";
             $html .=  "<td>".$statsData['black_percent']."</td>";
             $html .=  "</tr>";
         }
         echo $html;
     }
     ?>
 </table>


 <?php

// print_r($this->citystats);

$js_hide ='';

$tbody = [];
$splist = array_keys($this->stats);
$thheaders = ["<th>省份, 支持CPM(缺CPM)</th>", "<th>城市, 支持CPM(缺CPM)</th>"];
foreach ($splist as $sp) {
    $thheaders[] = "<th>$sp</th>";
}

$tbody[] = "<tr>".join("", $thheaders)."</tr>";

 function getcpm($labelid, $label, $ipcount, $lackingcpm, $othis) 
{
    $ipcpm = round($ipcount/100,1);
    $lackingcpm = round($lackingcpm/1000,1);


    $sUrl = $othis->url('lur/default', array('controller'=>'index', 'action'=>'viewlackingcityinfo'))."?nCityId=".$labelid;

    $color = "";
    if (empty($ipcpm) && empty($lackingcpm)) {
        $color = "";
    }elseif (empty($ipcpm) && !empty($lackingcpm)) {
        $color = "red";
    }else if ($ipcpm < $lackingcpm) {
        $color = "darkred";
    }else if ($ipcpm >= $lackingcpm) {
        $color = "blue";
    }
    return "<font color=$color><a href='{$sUrl}' target=_blank>{$label}</a>, {$ipcpm}({$lackingcpm})</font>";
}
// print_r($this->province2cities);
 foreach ($this->province2cities as $province => $cities) {
    $procount = 0;
    $lackprocpm = 0;
    $trrow = [];
    $trrow[] = "<tr><td rowspan=".count($cities).">[procpm]</td>";
     foreach ($cities as $cityId => $city) {

        $cityrow = [];
        $cityrow[] = "<td >[citycpm]</td>";


        $citycount = 0;
        foreach ($splist as $sp) {
            $count = 0;
            if (isset($this->citystats[$sp]) && isset($this->citystats[$sp][$cityId])) {
                $count = $this->citystats[$sp][$cityId];
                $citycount += $count;
                $procount += $count;
            }
            $clientcount = 0;
            $sBgColor = "";
            if (isset($this->sp2cities[$sp]) && isset($this->sp2cities[$sp][$city])) {
                $clientcount = $this->sp2cities[$sp][$city];
                $sBgColor = "aquamarine";

            }


            // $trrow[] = "<td >".isset($statsData['count_total'])."</td>";
            $cityrow[] = "<td style='background-color:{$sBgColor}' title='{$sp}'>{$count} / {$clientcount}</td>";
        }
        $cityrow[] = "</tr>";

        
        $lackingcpm = isset($aLackingCity2Count[$cityId]) ? $aLackingCity2Count[$cityId] : 0;
        $lackprocpm += $lackingcpm;

        $cityrow[0] = str_replace("[citycpm]", getcpm($cityId, $city, $citycount, $lackingcpm, $this), $cityrow[0]);

        $trrow = array_merge($trrow, $cityrow);

        if (count($filtercity)) {
            foreach($filtercity as $fil){
                $fil = trim($fil);
                // var_dump($fil);
                if (preg_match("/".$city."/i", $fil)) {
                    $filterresult[$city] = intval($citycount/100);
                }
            }
        }

    }
    $trrow[0] = str_replace("[procpm]", getcpm($province, $province, $procount, $lackprocpm, $this), $trrow[0]);
    $tbody[] = join("", $trrow);


    if (count($filtercity)) {
        foreach($filtercity as $fil){
            $fil = trim($fil);

            if (preg_match("/".$province."/", $fil) || preg_match("/".$province."/", $fil."省")) {
                $filterresult[$province] = intval($procount/100);
            }
        }
    }

 }
 // var_dump($filterresult);
 $tbodyhtml = join("\n", $tbody);
echo <<<_EOF
<h2> 描述:</h2>
<ul>
<li> 表格中数据 供应商的去重ip数 / 目前正在拨号的实例数
<li> <font color=red>本颜色: 该城市没有任何IP</font>
<li> <font color=darkred>本颜色: 城市IP但不足</font>
<li> <font color=blue>本颜色: 城市IP能满足缺量</font>
<li> <font color=>本颜色: 不缺量也没ip</font>

</ul>
 <table  class="table table-bordered">
     {$tbodyhtml}
 </table>

_EOF;

 ?>



 <form  method="POST">
     <h5>输入城市快捷查询cpm 每行一个城市</h5>
     <textarea name='filter' cols="100" rows=10>
         <?php
         echo isset($filteorg) ? $filteorg : '';
         ?>
     </textarea>
     <input type="submit" value="提交">
 </form>
<?php
if (count($filterresult)) {
    echo "<p>查询结果 城市=>CPM:<pre>";
    print_r($filterresult);
    echo "</pre>";

}
// print_r($_SERVER['REQUEST_URI']);
// if(isset($filter) && !empty($filter)){
//     $filterArr = explode("/", $filter);

//     $filter_data = [];
//     foreach($filterArr as $_filterArr){
//         $_filterArr = trim($_filterArr);
//         $filter_data[$_filterArr] = 0;

//         if(count($city_body['总计'])){
//             foreach($city_body['总计'] as $city_name => $city_value){
//                 if($city_name == $_filterArr){
//                     $filter_data[$_filterArr] = $city_value;
//                 }

//                 if($city_name == str_replace("市","",$_filterArr)){
//                     $filter_data[$_filterArr] = $city_value;
//                 }
//             }
//         }

//         if(count($province_body['总计'])){
//             foreach($province_body['总计'] as $province_name => $province_value){
//                 if($province_name == $_filterArr){
//                     $filter_data[$_filterArr] = $province_value;
//                 }

//                 if($province_name == str_replace("省","",$_filterArr)){
//                     $filter_data[$_filterArr] = $province_value;
//                 }
//             }
//         }

//     }

//     $filter_table .= "<table  class=\"table table-bordered\">";
//     $filter_table .= "<thead>";
//     $filter_table .= "<th>城市/省</th>";
//     $filter_table .= "<th>可跑CPM</th>";
//     $filter_table .= "</thead>";
//     foreach($filter_data as $filter_city => $_filter_data){
//         $filter_table .= "<tr>";
//         $filter_table .=  "<td>".$filter_city."</td>";
//         $filter_table .=  "<td>".intval($_filter_data/10)."</td>";
//         $filter_table .= "<tr>";
//     }
//     $filter_table .= "</table>";
// }

// echo $filter_table;
?>

</body>
</html>













