<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
$sm = $this->getHelperPluginManager()->getServiceLocator();
// var_dump($_SERVER);
?>



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>数据统计</title>
    <!-- 引入 echarts.js -->
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/echarts/3.5.4/echarts.min.js"></script>
  <?php
      echo $this->ycheukfHeadlink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => '/module/'.strtolower(LAF_NAMESPACE).'/images/favicon.admin.ico'));
?>
<style type="text/css">body{margin: 20px;}</style>
</head>
<body>

  
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->

    <h2>最近几天流量</h2>
    <h5>运营账号视角</h5>
    <div id="ec_user" style="width: 600px;height:200px;"></div>
    <h5>服务器视角</h5>
    <div id="ec_server" style="width: 100%;height:400px;"></div>
    <h5>广告主视角</h5>
    <div id="ec_customer" style="width: 100%;height:400px;"></div>
    <h5>SSP-HUNAN</h5>
    <div id="ec_ssphunan" style="width: 100%;height:400px;"></div>
    <script type="text/javascript">
      var myChart = echarts.init(document.getElementById('ec_user'));
      var option = <?php echo json_encode($this->ec_user)?>;
      myChart.setOption(option);

      var myChart = echarts.init(document.getElementById('ec_server'));
      var option = <?php echo json_encode($this->ec_server)?>;
      myChart.setOption(option);

      var myChart = echarts.init(document.getElementById('ec_customer'));
      var option = <?php echo json_encode($this->ec_customer)?>;
      myChart.setOption(option);
      
      // var myChart = echarts.init(document.getElementById('ec_ssphunan'));
      // var option = <?php echo json_encode($this->ec_ssphunan)?>;
      // myChart.setOption(option);
    </script>

    <h5>SSP-HUNAN 点击率报告(按天)</h5>
    <div class="table-responsive">

      <?php
        $sTrHtml = '';
        foreach ($this->sspclickpercent[LAF_ADSOURCETYPE_SSP_HUNAN] as $aRow) {
          $ct_count = isset($aRow['ct_count']) ? $aRow['ct_count'] : 0;
          $sTmp = '<tr>';
          $sTmp .= '<td>'.$aRow['date'].'</td>';
          $sTmp .= '<td>'.$aRow['code_cid'].'</td>';
          $sTmp .= '<td>'.$aRow['imp_count'].'</td>';
          $sTmp .= '<td>'.$ct_count.'</td>';
          $sTmp .= '<td>'.number_format(($ct_count/$aRow['imp_count'])*100, 2).'%</td>';
          $sTmp .= '</tr>';
          $sTrHtml .= $sTmp;
        }
      ?>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>日期</th>
            <th>PLAN</th>
            <th>显示数</th>
            <th>点击数</th>
            <th>点击转化率</th>
          </tr>
        </thead>
        <tbody><?php echo $sTrHtml;?>
        </tbody>
      </table>
    </div>

    <h5>SSP-HUNAN 点击率百分比报告(颗粒度:每10分钟)</h5>
    <div id="ec_sspcrhour" style="width: 600px;height:200px;"></div>
    <script type="text/javascript">
      var myChart = echarts.init(document.getElementById('ec_sspcrhour'));
      var option = <?php echo json_encode($this->ec_sspcrhour)?>;
      myChart.setOption(option);
    </script>

    



    <h2>小时数据</h2>
    <h5>两天小时数据对比</h5>
    <div id="ec_hour" style="width: 600px;height:200px;"></div>
    <script type="text/javascript">
      var myChart = echarts.init(document.getElementById('ec_hour'));
      var option = <?php echo json_encode($this->ec_hour)?>;
      myChart.setOption(option);
    </script>

    <h2>流量排10的代码</h2>

    <table  class="table table-bordered">
     <thead>
       <th>日期</th>
       <th>运营账号, 广告主, 代码id</th>
       <th>ssp-ad 完成数, API与常规投完成数</th>
     </thead>
     <tbody>
      <?php
        if (!empty($this->ec_datecode)) {
          $aTrBgColors = array(
            "lightgray",
            "white",
          );
          $nIndex2 = 0;
          foreach ($this->ec_datecode as $sDate => $aRow) {
            $nIndex2++;

            arsort($aRow);
          // var_dump($aRow);
            $nIndex = 0;
            foreach ($aRow as $nCode=>$aRow2) {
              $nIndex++;
              if ($nIndex>10     ) {
                continue;
              }
              list($sUser, $sUserLabel, $sCustomer, $sCustomerLabel, $sCode) = explode(",", $nCode);
              $sCode = trim($sCode);

                $sCountLabel = $sm->get('\Lur\Service\Common')->getScheduleFinishedInfo($sCode, $sDate, intval($aRow2['total']), intval($aRow2['total_sspad']));


              $sUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'histadschedule'))."?id=".($sCode);
              echo "<tr style='background-color: ".$aTrBgColors[$nIndex2%2].";'>";
              echo "<td>".$sDate."</td>";
              echo "<td><a href='".$sUrl."&sdate=".$sDate."' target='_blank'>".$nCode."</a></td>";
              echo "<td>".$sCountLabel."</td>";
              echo "</tr>";
              # code...
            }
            # code...
          }

          # code...
        }
      ?>
     </tbody>
    </table>

    <h2>第三方api调用情况</h2>
    <pre>
    <?php
      print_r($this->thirdapistatus);
    ?>
    </pre>

</body>
</html>