<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
// var_dump($this->vpn_accounts);
?>



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VPN账号批量延长</title>
    <!-- 引入 echarts.js -->
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/echarts/3.5.3/echarts.min.js"></script>
<style type="text/css">body{margin: 20px;}

#overlay {
    background: #000;
    filter: alpha(opacity=50); /* IE的透明度 */
    opacity: 0.5;  /* 透明度 */
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100; /* 此处的图层要大于页面 */
    display:none;
}

</style>
</head>
<body>
  <form action="" method="POST" role="form">
    <legend>VPN账号批量延长</legend>
  
  <?php 

  if ($this->targetacc && count($this->targetacc)) {
    echo "<h4>确认以下账号为需要更新的账号后, 再次点击提交</h4><pre>";
    foreach ($this->targetacc as $row) {
      echo $row['account'].',';
    }
    echo "</pre>";
  }
   ?>
    <label for="">供应商</label>
  <select name="vpnstore">
      <?php 
      $sList = '';
      foreach ($this->vpnstore as $row2) {

          if (in_array($row2['vpnstore'], ["k41","eagle_c","vpn1_dongguan","vpn1_qingdao","xianfeng2","xx4","yhtip_custom1","zekou5_c","zk5_100"])) {
            continue;
          }
          $label = $row2['vpnstore'];
          if ($label == 'xx2') {
            $label = 'xx';
          }
          if ($label == 'xx3') {
            $label = 'jk';
          }
          
        $sList .= "<option value='".$row2['vpnstore']."'>".$label."</option>";
      }
      echo $sList;
      $postAccount = isset($_POST['account']) ? $_POST['account'] : "";

      $extendday_text = isset($_POST['extendday_text']) ? $_POST['extendday_text'] : "";

      ?>
  </select>

  <div class="form-group">
    <label for="">账号</label>
    <input type="text" name="account"  placeholder="" value="<?php echo $postAccount?>">
    <p>批量添加公式: prefix[start-end]
    <p>例子:  qiangzi[10-20] 
    <p>(提交后会入库 qiangzi10,qiangzi11 ... qiangzi20)
  </div>
  <div class="form-group">
    <label for=""><h4>账号补零</h4></label>
    <p>例子: qiangzi[1-20] 在 选择"按三位数补零"后提交, 即更新成 qiangzi001,qiangzi002...qiangzi020 

    <p><input type="radio" name="addzero"   placeholder="" checked="" value=0>不补零
    <p><input type="radio" name="addzero"   placeholder="" value=2>按两位数补零
    <p><input type="radio" name="addzero"   placeholder="" value=3>按三位数补零
    <p><input type="radio" name="addzero"   placeholder="" value=4>按四位数补零
    <p><input type="radio" name="addzero"   placeholder="" value=5>按五位数补零
    
  </div>
  
  <div class="form-group">
    <label for=""><h4>续租时间</h4></label>
    <p><input type="radio" name="extendday" checked  placeholder="" value="7">7天
    <p><input type="radio" name="extendday" <?php echo isset($_POST['extendday'])&& $_POST['extendday']==30 ? 'checked':''; ?> placeholder="" value="30">30天
    <p><input type="radio" name="extendday" <?php echo isset($_POST['extendday'])&& $_POST['extendday']==90 ? 'checked':''; ?> placeholder="" value="90">90天
    <p><input type="radio" name="extendday" <?php echo isset($_POST['extendday'])&& $_POST['extendday']==90 ? 'checked':''; ?> placeholder="" value="0">自定义
    <input type="text" name="extendday_text"  placeholder="" value="<?php echo $extendday_text?>">
  </div>
    <?php 
  if ($this->targetacc && count($this->targetacc)) {
    echo '<button type="submit" name="confirm" class="btn btn-primary">确认无误,提交</button>';
    echo '<a href="'.$this->url('lur/default', array('controller'=>'admin', 'action'=>'extendbatch')).'">重新查询</a>';

  }else{
    
    echo '<button type="submit" class="btn btn-primary">查询</button>';
  }
     ?>
  </form>

</html>