<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
// var_dump($detail);
$sTbody = "";
$index = 1;
foreach ($detail as $rows) {

  $sTbody .= "<tr>";
  foreach ($rows as $td) {
    $sTbody .= "<td>".$td."</td>";
  }
  $sTbody .= "</tr>";

}
$plan = $plan ? $plan : $_GET['plan'] ; 
?>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PLAN-DETAIL</title>
    <!-- 引入 echarts.js -->
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/echarts/3.5.3/echarts.min.js"></script>
<style type="text/css">body{margin: 20px;}

#overlay {
    background: #000;
    filter: alpha(opacity=50); /* IE的透明度 */
    opacity: 0.5;  /* 透明度 */
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100; /* 此处的图层要大于页面 */
    display:none;
}

</style>
</head>
<body>

    <h2>PLAN-DETAIL <span style="color:red">plan=<?php echo $plan?></span>  <span style="color:red"><?php echo $_GET['type']=='me'?"我方排期":($_GET['type']=='down'?'下游排期':($_GET['type']=='mg'?'MG排期':'我方排期'))?></span> </h2>
    <table class="table table-bordered table-hover">
      <tbody>
        <?php
          echo $sTbody;
        ?>
      </tbody>
    </table>
</body>
</html>