<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
// var_dump($detail);
$sTbody = "";
$index = 1;
$lastvalue = $lastpercent;
$lastgrep = $lastgrep;
$datereplace = $datereplace;
if (count($ophis)) {
  krsort($ophis);
  $touch = 0;
  // var_dump($ophis);
  foreach ($ophis as $json_s) {
    $rows = json_decode($json_s, 1);
    if ($touch==0) {
      $lastvalue = $rows['percent'];
      $touch = 1;
      if (isset($rows['grep'])) {
        $lastgrep = $rows['grep'];
      }
      if (isset($rows['datereplace'])) {
        $datereplace = join("\r\n", $rows['datereplace']);
      }
    }
    $sTbody .= "<tr>";
    $sTbody .= "<td>".(100-$rows['percent'])." / ".$rows['percent']."</td>";
    $sTbody .= "<td>". (isset($rows['grep'])?nl2br($rows['grep']):'')."</td>";
    $sTbody .= "<td>".$rows['applytime']."</td>";

    // foreach ($rows as $td) {
    //   $sTbody .= "<td>".$td."</td>";
    // }
    $sTbody .= "</tr>";
  }
}
?>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PLAN-ORDER</title>
<?php

        echo $this->ycheukfHeadlink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' =>  '/module/'.strtolower(LAF_NAMESPACE).'/images/favicon.admin.ico'))
          ->appendStylesheet( '/components/font-awesome/css/font-awesome.min.css')
          //->appendStylesheet( '/css/app.css')
                        ->prependStylesheet('/components/bootstrap/css/bootstrap.min.css');

        echo $this->ycheukfHeadscript()
          ->appendFile( '/components/jquery/jquery.min.js')
          ->appendFile( '/components/bootstrap/js/bootstrap.min.js');

?>
<style type="text/css">body{margin: 20px;}

#overlay {
    background: #000;
    filter: alpha(opacity=50); /* IE的透明度 */
    opacity: 0.5;  /* 透明度 */
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100; /* 此处的图层要大于页面 */
    display:none;
}

</style>
</head>
<body>

    <h2>PLAN-ORDER <span style="color:red">plan=<?php echo $_GET['plan']?></span> 执行下单</h2>
<?php 
if (!empty($msg)) {
  echo '<span class="badge badge-important">'.$msg.'</span>';
}
?>

  <form action="" method="POST" role="form" class="form-horizontal" style="
      border: 1px solid black;
      margin: 30px;
      border: 10;
      padding: 30px;
  " >


      <div class="control-group">
        <label class="control-label" for="percent">分配给下游的百分比(0-100)</label>
        <div class="controls">
          <input type="text" name="percent" placeholder="0" value="<?php echo $lastvalue?>">

<pre>
下游的百分比=0 , 则完全由我们下单
下游的百分比=100 , 则完全由下游下单, 下游会收到下单通知
0<下游的百分比<100 , 我们与下游都会下单, 下游会收到下单通知
</pre>
        </div>
      </div>



        <div class="control-group">
          <label class="control-label" for="percent">拆单规则</label>
          <div class="controls">
            <textarea name="grep" cols="60" rows="10">
              <?php echo trim($lastgrep)?>
            </textarea>
<pre>
拆单规则: 用于将单子按指定条件拆给下游, 本规则若与其他规则冲突, 本规则优先级最高

拆单公式: d=日期|u=ua|p=下游百分比

举例
1. 2020-10-01的量90%分给下游
d=2020-10-01|p=90

2. 2020-10-01至2020-10-05的量90%分给下游
d=2020-10-01,2020-10-05|p=90    

3. 所有跑pc的量90%分给下游
u=pc|p=90   

4. 所有跑pc,phone的量90%分给下游
u=pc,phone|p=90 

5. 2020-10-01至2020-10-05之间,跑pc,phone的量90%分给下游
d=2020-10-01,2020-10-05|u=pc,phone|p=90   

6. 2020-10-01至2020-10-05之间,50%分给下游,  2020-10-06至2020-10-10之间,pc 60%分给下游
d=2020-10-01,2020-10-05|p=50   
d=2020-10-05,2020-10-10|u=pc|p=60   


</pre>
          </div>


<label class="control-label" for="datereplace">日期替换</label>
<div class="controls">

<textarea name="datereplace" cols="60" rows="10">
<?php echo trim($datereplace)?>
</textarea>

<pre>
日期格式只允许  XXXX-XX-XX XX-XX
举例: 2021-01-01 12-23

没有指定的日期不会替换
</pre>
        </div>

        </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-primary" >执行下单</button>
        </div>
      </div>
    </form>


    <h2>历史记录</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <th>我方占比 / 下游占比</th>
        <th>拆单规则</th>
        <th>操作时间</th>
      </thead>

      <tbody>
        <?php
          echo $sTbody;
        ?>
      </tbody>
    </table>
</body>
</html>