<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');

$redis = \Application\Model\Common::getCacheObject($this->getHelperPluginManager()->getServiceLocator());

$aList = $redis->hGetAll(LAF_CACHE_HNSCHEDULEAPI_LIST_206.$op_user_id);

// print_r($aList);
// var_dump($_SERVER);
function isrunning($plan='', $aList)
{
  if (isset($aList[$plan])) {
    $json = json_decode($aList[$plan], 1);
    if (isset($json['status']) && $json['status']==0) {
      return true;
    }
  }
  return false;
}

$index = 1;
krsort($data_his);

$aTabledata = [];
$counter = [
  'all' =>0,
  'running' =>0,
  'stop' =>0,
  'running_me' =>0,
  'running_down' =>0,
];
// print_r($data_his);

foreach ($data_his as $json_s) {
  $counter['all'] +=1;
  $sTbody = "";
  $row = json_decode($json_s, 1);

  $detailhiskey = LAF_CACHE_HNSCHEDULEAPI_PLANDETAILHIS_213.$op_user_id.$row['plan'];
  $detail = json_decode($redis->hGet($detailhiskey, $row['sign']), 1);

  $planurl = $this->url('lur/default', array('controller'=>'admin', 'action'=>'mgdetail')).'?plan='.$row['plan'];
  $sTbody .= "<tr>";
  $sTbody .= "<td>".$index++."</td>";
  $sTbody .= "<td><a href='".$planurl."&type=mg"."' target=_blank>".$row['plan']."</a></td>";
  $sTbody .= "<td><a href='".$planurl."&type=me"."' target=_blank>我方排期</a></td>";
  $sTbody .= "<td><a href='".$planurl."&type=down"."' target=_blank>下游排期</a></td>";
  $sTbody .= "<td>".$detail['data']['note']."</td>";
  $status = "";
  if (is_array($data_add) && isset($data_add[$row['plan']])) {
    $status = "该排期已被更新, 请执行下单(".$data_add[$row['plan']].")";
  }
  if (is_array($data_stop) && isset($data_stop[$row['plan']])) {
    $status = "该排期已被停止, 请执行下单(".$data_stop[$row['plan']].")";
  }

  // if(empty($status) && isset($row['status']) && $row['status']==1)
  //   $status = "<span color=red>(已停止)</span>";


  $lasttime = "";
  $percent = "100 / 0";
  $percent_status = 100;
  $tdbgcolor = "limegreen";
  $grep = "";
  $lasttime_down = "";

  $ophis = $redis->hGetAll(LAF_CACHE_HNSCHEDULEAPI_OPHIS_210.$op_user_id.$row['plan']);
  if (is_array($ophis) && count($ophis)) {
    krsort($ophis);
    $row11 = json_decode(current($ophis), 1);
    $lasttime = $row11['applytime'];
    $percent_status = $percent = (100-intval($row11['percent']))." / ".$row11['percent'];
    if (intval($row11['percent'])==0) {
      $tdbgcolor = 'limegreen';
    }elseif (intval($row11['percent'])==100) {
      $tdbgcolor = 'palevioletred';
    }else{
      $tdbgcolor = 'yellow';
    }
    if (isset($row11['grep']) && !empty($row11['grep'])) {
      $grep = nl2br($row11['grep']);
      $tdbgcolor = 'yellow';
    }
  }

  if (empty($lasttime)) {
    $status = "新单, 请分配(".$data_add[$row['plan']].")";
    $lasttime = date("Y-m-d H:i:s");
  }else{
  }

  $isrunningsort = 1;
  if (isrunning($row['plan'], $aList) == false) {
    $status = "<span color=red>(已停止)</span>";
    $counter['stop'] +=1;
    $isrunningsort = 0;

  }else{

    $counter['running'] +=1;
    if ($percent_status > 0) {
      $counter['running_me'] +=1;
    }
    if ($percent_status < 100) {
      $counter['running_down'] +=1;
    }
  }

  $sTbody .= "<td>".$status."</td>";



  $aaa = $redis->lRange(LAF_CACHE_HNSCHEDULEAPI_NOTICES_211.$op_user_id.$row['plan']."published",0, 0);
  if ($aaa && count($aaa)) {
    $lasttime_down = $aaa[0];
  }

  $istoday = "";
  if (date("Y-m-d") == date("Y-m-d", strtotime($lasttime))) {
    $times = time() - strtotime($lasttime); 
    $tmp = floor(($times%86400)/3600).'小时'.floor(($times%3600)/60).'分钟 前';       //这里最大是从天数开始的转换

    $istoday = "</br><font color=red>(".$tmp.")</font>";
  }

  $sTbody .= "<td>".$lasttime.$istoday."</td>";
  $sTbody .= "<td>".$lasttime_down."</td>";
  $sTbody .= "<td >".$grep."</td>";
  $sTbody .= "<td style='background-color:".$tdbgcolor."'>".$percent."</td>";

  $editurl = $this->url('lur/default', array('controller'=>'admin', 'action'=>'mgplanedit')).'?plan='.$row['plan'];

  $sTbody .= "<td><a href='".$editurl."' target=_blank>下单</a></td>";
  $sTbody .= "</tr>";

  $aTabledata[$isrunningsort."-".$lasttime."-".$row['plan']] = $sTbody;

}
krsort($aTabledata);
?>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MG-PLAN</title>
    <!-- 引入 echarts.js -->
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/echarts/3.5.3/echarts.min.js"></script>
<style type="text/css">body{margin: 20px;}

#overlay {
    background: #000;
    filter: alpha(opacity=50); /* IE的透明度 */
    opacity: 0.5;  /* 透明度 */
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100; /* 此处的图层要大于页面 */
    display:none;
}

</style>
</head>
<body>

    <h2>MG-PLAN </h2>
    <h4>  
      总数:<?php echo $counter['all'];?> 
      ,执行中:<?php echo $counter['running'];?> 
      ,已停止:<?php echo $counter['stop'];?> 
      ,我方执行中:<?php echo $counter['running_me'];?> 
      ,下游执行中:<?php echo $counter['running_down'];?> 

    </h4>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>NO</th>
          <th>MGPLAN</th>
          <th>我方排期</th>
          <th>下游排期</th>
          <th style="width: 200px;">其他要求</th>
          <th>状态</th>
          <th>LUR下单时间</th>
          <th>下游下单时间</th>
          <th>拆单规则</th>
          <th>我方占比/下游占比</th>
          <th>操作</th>
          <!-- <th>ID</th> -->
        </tr>
      </thead>
      <tbody>
        <?php
          echo join("\n", $aTabledata);
        ?>
      </tbody>
    </table>
</body>
</html>