<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
// var_dump($this->vpn_accounts);
?>



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VPN账号修改</title>
    <!-- 引入 echarts.js -->
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/echarts/3.5.3/echarts.min.js"></script>
<style type="text/css">body{margin: 20px;}

#overlay {
    background: #000;
    filter: alpha(opacity=50); /* IE的透明度 */
    opacity: 0.5;  /* 透明度 */
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100; /* 此处的图层要大于页面 */
    display:none;
}

</style>
</head>
<body>
  <form action="" method="POST" role="form">
    <legend>账号编辑</legend>
  
</select>
    <?php
    foreach ($this->vpn_accounts as $key=>$value) {

      if ($key == 'vpnstore') {
        $sList = "<select  name={$key}>";
        foreach ($this->vpnstore as $row2) {

          if (in_array($row2['vpnstore'], ["k41","eagle_c","vpn1_dongguan","vpn1_qingdao","xianfeng2","xx4","yhtip_custom1","zekou5_c","zk5_100"])) {
            continue;
          }
          $label = $row2['vpnstore'];
          if ($label == 'xx2') {
            $label = 'xx';
          }
          if ($label == 'xx3') {
            $label = 'jk';
          }
          $sSelected = $row2['vpnstore']==$value ? 'selected' : '';
          $sList .= "<option ".$sSelected.">".$label."</option>";
        }
        $sList .= "<select>";

      echo <<<__EOF
    <div class="form-group">
      <label for="">{$key}</label>{$sList}
    </div>
__EOF;
      }elseif ($key == 'status') {
        $sList = "<select  name={$key}>";
        foreach ([1=>'激活', 2=>'停止'] as $k1=>$v2) {
          $sSelected = $k1==$value ? 'selected' : '';
          $sList .= "<option value={$k1} ".$sSelected.">".$v2."</option>";
        }
        $sList .= "<select>";

      echo <<<__EOF
    <div class="form-group">
      <label for="">{$key}</label>{$sList}
    </div>
__EOF;
      }elseif ($key == 'platform') {
        $sList = "<select  name={$key}>";
        foreach (['ad', 'uv'] as $v2) {
          $sSelected = $v2==$value ? 'selected' : '';
          $sList .= "<option value={$v2} ".$sSelected.">".$v2."</option>";
        }
        $sList .= "<select>";

      echo <<<__EOF
    <div class="form-group">
      <label for="">{$key}</label>{$sList}
    </div>
__EOF;
      }elseif ($key == 'account') {
        echo <<<__EOF
      <div class="form-group">
        <label for="">{$key}</label>
        <input type="text" name="{$key}"  placeholder="" value="{$value}">
        <p>批量添加公式: prefix[start-end]
        <p>例子:  qiangzi[10-20] 
        <p>(提交后会入库 qiangzi10,qiangzi11 ... qiangzi20)
      </div>
      <div class="form-group">
        <label for=""><h4>账号补零</h4></label>
        <p>例子: qiangzi[1-20] 在 选择"按三位数补零"后提交, 即更新成 qiangzi001,qiangzi002...qiangzi020 

        <p><input type="radio" name="addzero"   placeholder="" checked="" value=0>不补零
        <p><input type="radio" name="addzero"   placeholder="" value=2>按两位数补零
        <p><input type="radio" name="addzero"   placeholder="" value=3>按三位数补零
        <p><input type="radio" name="addzero"   placeholder="" value=4>按四位数补零
        <p><input type="radio" name="addzero"   placeholder="" value=5>按五位数补零
        
      </div>
__EOF;
      }else{
      echo <<<__EOF
    <div class="form-group">
      <label for="">{$key}</label>
      <input type="text" name="{$key}"  placeholder="" value="{$value}">
    </div>
__EOF;

      }
      // vpnstore
    }
    ?>
  
    
  
    <!-- <button type="submit" class="btn btn-primary">保存并增加下一个</button> -->
    <button type="submit" class="btn btn-primary">保存并返回列表</button>
  </form>

</html>