<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
// var_dump($_SERVER);
$aFaildToomanyAcc = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Addtional')->getFaildTooManyAcc();

$sIndex = 0;
$sTbody = '';
$nAccTotal = $nAccActive = $nAccUnactive = 0;
// print_r($this->aVpnaccounts);
foreach ($this->aVpnaccounts as $row) {
  $sUrl2 = $this->url('lur/default', array('controller'=>'admin', 'action'=>'vpnaccedit')).'?action=edit&id='.$row['id'];
  $sIndex++;
  $nAccTotal++;
  if ($row['status'] == 1) $nAccActive++;
  else $nAccUnactive++;


  
  $sHisFaildCount = 0;
  if (isset($row['id'])) {
    $sUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewVpnFaildHis'))."?id=".$row['id'];

    $aFailHis = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Addtional')->getVpnFaildHistoryByAccId($row['id']);

    if ((isset($_GET['action']) 
      &&  $_GET['action']=='fo100'
      &&  count($aFailHis)<100
    )) {
      continue;
    }
    $sHisFaildCount = "<a target='blank' href='".$sUrl."'>".count($aFailHis)."</a>";
  }

  $sLastestCount = isset($aFaildToomanyAcc[$row['id']]) ? $aFaildToomanyAcc[$row['id']] : 0;


  $vpnstore = $row['vpnstore'];
  if ($vpnstore == 'xx2') {
    $vpnstore = 'xx';
  }
  if ($vpnstore == 'xx3') {
    $vpnstore = 'jk';
  }
  $sTmp = <<<__EOF
    <tr>
      <td>{$sIndex}</td>
      <td>{$vpnstore}/{$row['account']}/{$row['id']}</td>
      <td>{$row['platform']}</td>
      <td>{$row['status']}</td>
      <td>{$sHisFaildCount} / {$sLastestCount}</td>
      <td>{$row['disabledate']}</td>
      <td>{$row['created_time']}</td>
      <td>
        <a class="btn btn-default" href="{$sUrl2}"  role="button">修改</a>

      </td>
    </tr>
__EOF;
  $sTbody .= $sTmp;
}


      /*
        <a class="btn btn-default expired-extend" data-action="extend" data-id={$row['id']} data-count=7  role="button">延长7天</a>
        <a class="btn btn-default expired-extend" data-action="extend"  data-id={$row['id']} data-count=30  role="button">延长30天</a>
        <a class="btn btn-default expired-extend" data-action="extend" data-id={$row['id']} data-count=90  role="button">延长90天</a>
         / 
        <a class="btn btn-default expired-extendcustom" data-action="extendcustom" data-id={$row['id']}  role="button">自定义延长<input type="text" name="extendcustomcount"  placeholder="" value="" style="width:50px;">天</a>
         / 
         */

?>



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VPN账号管理</title>
    <!-- 引入 echarts.js -->
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/echarts/3.5.3/echarts.min.js"></script>
<style type="text/css">body{margin: 20px;}

#overlay {
    background: #000;
    filter: alpha(opacity=50); /* IE的透明度 */
    opacity: 0.5;  /* 透明度 */
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100; /* 此处的图层要大于页面 */
    display:none;
}

</style>
</head>
<body>

    <h2>VPN账号管理 
      <a class="btn btn-default add" role="button" href="
      <?php echo $this->url('lur/default', array('controller'=>'admin', 'action'=>'vpnaccedit')).'?action=edit';?>
      ">增加新账号</a>
      <a class="btn btn-default add" role="button" href="
      <?php echo $this->url('lur/default', array('controller'=>'admin', 'action'=>'extendbatch'));?>
      ">批量延长账号</a>
    </h2>
    <h5>
      激活账号/在线容器 : <?php echo $nAccActive.'/'.count($this->aAdrSummary['aLiveAdrServerType2Id']['TROLLEY-VPN']);?>
    </h5>
    <h5>
      过滤 : 
      <a class="btn btn-default filter" role="button" href="
            <?php echo $this->url('lur/default', array('controller'=>'admin', 'action'=>'vpnacc')).'?action=all';?>
            ">所有</a>
      <a class="btn btn-default filter" role="button" href="
            <?php echo $this->url('lur/default', array('controller'=>'admin', 'action'=>'vpnacc')).'?action=fo100';?>
            ">当天拨号失败超100</a>
      <a class="btn btn-default filter" role="button" href="
            <?php echo $this->url('lur/default', array('controller'=>'admin', 'action'=>'vpnacc')).'?action=unactive';?>
            ">非激活</a>
      <a class="btn btn-default filter" role="button" href="
            <?php echo $this->url('lur/default', array('controller'=>'admin', 'action'=>'vpnacc')).'?action=active';?>
            ">激活</a>
      <a class="btn btn-default filter" role="button" href="
            <?php echo $this->url('lur/default', array('controller'=>'admin', 'action'=>'vpnacc')).'?action=e3';?>
            ">3天内过期</a>
      <a class="btn btn-default filter" role="button" href="
            <?php echo $this->url('lur/default', array('controller'=>'admin', 'action'=>'vpnacc')).'?action=e7';?>
            ">7天内过期</a>
      <a class="btn btn-default filter" role="button" href="
            <?php echo $this->url('lur/default', array('controller'=>'admin', 'action'=>'vpnacc')).'?action=e15';?>
            ">15天内过期</a>
    </h5>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>NO</th>
          <th>供应商/账号/ID</th>
          <th>应用平台</th>
          <th>状态</th>
          <th>当天失败 / 两小时内失败</th>
          <th>到期时间</th>
          <th>创建时间</th>
          <th>操作</th>
          <!-- <th>ID</th> -->
        </tr>
      </thead>
      <tbody>
        <?php
          echo $sTbody;
        ?>
      </tbody>
    </table>
    <div id='overlay'></div>
</body>
<script type="text/javascript">
  /* 显示遮罩层 */
  function showOverlay() {
      $("#overlay").height(pageHeight());
      $("#overlay").width(pageWidth());

      // fadeTo第一个参数为速度，第二个为透明度
      // 多重方式控制透明度，保证兼容性，但也带来修改麻烦的问题
      $("#overlay").fadeTo(200, 0.5);
  }

  /* 隐藏覆盖层 */
  function hideOverlay() {
      $("#overlay").fadeOut(200);
  }

  /* 当前页面高度 */
  function pageHeight() {
      return document.body.scrollHeight;
  }

  /* 当前页面宽度 */
  function pageWidth() {
      return document.body.scrollWidth;
  }



  // $('a.expired-extendcustom').click(function(){
  //   console.log($(this).children("text").value());

  // })


  $('a.expired-extend').click(function(){
    showOverlay();
    console.log($(this).data('count'));
    var datetd = $(this).eq(0).closest('tr').children('td').eq(2);
    $.ajax({
        type: 'POST',
        dataType: 'json',
        data: {
          action: $(this).data('action'),
          count: $(this).data('count'),
          id: $(this).data('id')

        },
    })
    .done(function(respon) {
      // console.log(respon);
      hideOverlay();
      datetd.html(respon.disabledate);

    })
    .fail(function(respon) {
      alert('更新出错, 请联系管理员:'+respon)
      hideOverlay();

    })
  })

</script>
</html>