<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');

$redis = \Application\Model\Common::getCacheObject($this->getHelperPluginManager()->getServiceLocator());

$aList = $redis->hGetAll(LAF_CACHE_DISTRICBUTIONAPI_LIST_815.'sohu');

$lastcachetime = $redis->get(LAF_CACHE_DISTRICBUTIONAPI_APICACHE_816.'sohu');




// var_dump(LAF_CACHE_DISTRICBUTIONAPI_LIST_815.'sohu', $aList);
// var_dump($_SERVER);
function isrunning($plan='', $aList)
{
  if (isset($aList[$plan])) {
    $json = json_decode($aList[$plan], 1);
    if (isset($json['code']) && $json['code']!=0) {
      return false;
    }
  }
  return true;
}

$index = 1;

$aTabledata = [];
$counter = [
  'all' =>0,
  'running' =>0,
  'stop' =>0,
  'running_me' =>0,
  'running_down' =>0,
];
// print_r($orders);
foreach ($orders as $row) {
  $counter['all'] +=1;
  $sTbody = "";

  $status = "";


  $lasttime = $row['created'];
  $percent = "100 / 0";
  $percent_status = 100;
  $tdbgcolor = "limegreen";
  $grep = "";
  $lasttime_down = "";


  $ophis = $redis->hGetAll(LAF_CACHE_DISTRICBUTIONAPI_OPHIS_810.$type."/".$row['planno']);
  if (is_array($ophis) && count($ophis)) {
    krsort($ophis);
    $row11 = json_decode(current($ophis), 1);
    $lasttime = $row11['applytime'];
    $percent_status = $percent = (100-intval($row11['percent']))." / ".$row11['percent'];
    if (intval($row11['percent'])==0) {
      $tdbgcolor = 'limegreen';
    }elseif (intval($row11['percent'])==100) {
      $tdbgcolor = 'palevioletred';
    }else{
      $tdbgcolor = 'yellow';
    }
    if (isset($row11['grep']) && !empty($row11['grep'])) {
      $grep = nl2br($row11['grep']);
      $tdbgcolor = 'yellow';
    }
  }


  $isrunningsort = 1;
  if (isrunning($row['planno'], $aList) == false) {
    $status = "<span color=red>(下游已停止)</span>";
    $counter['stop'] +=1;
    $isrunningsort = 0;

  }else{

    $counter['running'] +=1;
    if ($percent_status > 0) {
      $counter['running_me'] +=1;
    }
    if ($percent_status < 100) {
      $counter['running_down'] +=1;
    }
  }



  $planurl1 = $this->url('lur/default', array('controller'=>'distribution', 'action'=>'detail')).'?plan='.$row['planno'].'&type=shmain';
  $planurl2 = $this->url('lur/default', array('controller'=>'distribution', 'action'=>'detail')).'?plan='.$row['planno'].'&type=shself';
  $planurl3 = $this->url('lur/default', array('controller'=>'distribution', 'action'=>'detail')).'?plan='.$row['planno'].'&type=shdown';

  $splanurl4 = "";
  if ($tdbgcolor != 'limegreen') {
    $planurl4 = 'http://180.97.80.73/shpq/detail/'.$row['planno'];
    $splanurl4 = ", <a href='".$planurl4."' target=_blank>API信息</a>";
  }

  $sTbody .= "<tr>";
  $sTbody .= "<td>[INDEX]</td>";
  $sTbody .= "<td>".$row['planno']." (更新于 ".$lasttime.")<br/><a href='".$planurl1."' target=_blank>".$row['memo'].", ".$row['created']."</a></td>";
  $sTbody .= "<td><a href='".$planurl2."' target=_blank>我方排期</a></td>";
  $sTbody .= "<td><a href='".$planurl3."' target=_blank>下游排期</a>".$splanurl4."</td>";

  $sTbody .= "<td>".$status."</td>";




  $istoday = "";
  if (date("Y-m-d") == date("Y-m-d", strtotime($lasttime))) {
    $times = time() - strtotime($lasttime); 
    $tmp = floor(($times%86400)/3600).'小时'.floor(($times%3600)/60).'分钟 前';       //这里最大是从天数开始的转换

    $istoday = "</br><font color=red>(".$tmp.")</font>";
  }

  $sTbody .= "<td>".$lasttime_down."</td>";
  $sTbody .= "<td >".$grep."</td>";
  $sTbody .= "<td style='background-color:".$tdbgcolor."'>".$percent."</td>";

  $editurl = $this->url('lur/default', array('controller'=>'distribution', 'action'=>'planedit')).'?type=shmain&plan='.$row['planno'];

  $sTbody .= "<td><a href='".$editurl."' target=_blank>下单</a></td>";
  $sTbody .= "</tr>";

  $aTabledata[$isrunningsort."-".$lasttime] = $sTbody;

}
krsort($aTabledata);
?>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SHSSP-PLAN</title>
    <!-- 引入 echarts.js --><!-- 
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->
<?php

        echo $this->ycheukfHeadlink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' =>  '/module/'.strtolower(LAF_NAMESPACE).'/images/favicon.admin.ico'))
          ->appendStylesheet( '/components/font-awesome/css/font-awesome.min.css')
          //->appendStylesheet( '/css/app.css')
                        ->prependStylesheet('/components/bootstrap/css/bootstrap.min.css');

        echo $this->ycheukfHeadscript()
          ->appendFile( '/components/jquery/jquery.min.js')
          ->appendFile( '/components/bootstrap/js/bootstrap.min.js');

?>


<style type="text/css">body{margin: 20px;}

#overlay {
    background: #000;
    filter: alpha(opacity=50); /* IE的透明度 */
    opacity: 0.5;  /* 透明度 */
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100; /* 此处的图层要大于页面 */
    display:none;
}

</style>
</head>
<body>

    <h2 id='ucache' >SHSSP-PLAN <a href="#" >更新下游API缓存</a> <span><?php echo $lastcachetime;
    ?></span></h2>
    <p><a href="http://180.97.80.73/shpq/list" target="_blank">下游的排期列表</a>
    <h4>  
      总数:<?php echo $counter['all'];?> 
      ,执行中:<?php echo $counter['running'];?> 
      ,已停止:<?php echo $counter['stop'];?> 
      ,我方执行中:<?php echo $counter['running_me'];?> 
      ,下游执行中:<?php echo $counter['running_down'];?> 

    </h4>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>NO</th>
          <th>主排期</th>
          <th>我方排期</th>
          <th>下游排期</th>
          <th>状态</th>
          <th>下游下单时间</th>
          <th>拆单规则</th>
          <th>我方占比/下游占比</th>
          <th>操作</th>
          <!-- <th>ID</th> -->
        </tr>
      </thead>
      <tbody>
        <?php
          $index = 0;
          foreach ($aTabledata as $trline) {
            $trline = str_replace("[INDEX]", ++$index, $trline);
            echo $trline."\n";
          }
        ?>
      </tbody>
    </table>
</body>
</html>
<script type="text/javascript">
  $('#ucache a').click(function(){

    $.ajax({
        url: 'http://<?php echo LAF_WEBHOST;?>/lur/distribution/updcache',
        type: 'POST',
        dataType: 'json',
        complete: function(xhr, textStatus) {
          alert("下游缓存更新成功")
          $('#ucache span').html(xhr.responseText)

        },
        success: function(data, textStatus, xhr) {
        },
      })
  })
</script>