<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
// aErrorCompare
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> <?php echo $this->date?> hunan report </title>
	<meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/echarts/3.5.3/echarts.min.js"></script>
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
//-->
</script>
 </head>

 <body>
  <h2><?php echo $this->date?> hunan report </h2>

  <?php

    if (count($this->batchResult)) {
      foreach($this->batchResult as $date=>$row3){

        foreach($row3 as $key=>$result){
          echo "<h3>".$date."-".$key."<h3>";
          echo "<pre>".$result."</pre>";

        }

      }
    }

  ?>

    <h2>小时错误日志混合</h2>
    <?php 
        printErrorCompare($aErrorCompare);
         function printErrorCompare($aErrorCompare)
        {

          $hourlabes = [];
          for($i=0;$i<=23;$i++){
            $hourlabes[] = $i;
          }
          $hourlabesjson = json_encode($hourlabes);
          // print_r($hourlabesjson);
          $html = '';
          $series = $legend = [];
          // $legendjson =
          foreach ($aErrorCompare as $date => $row2) {
            foreach ($row2 as $logtype => $row) {
              $a1 = [
                'name' => $date.'-'.$logtype,
                'type' => $row['type'],
                'data' => array_values($row['data']),
              ];
              if ($row['type'] == 'bar') {
                $a1['stack'] = $date.'-'.$row['stack'];
              }
              $series[] = $a1;
              $legend[] = $date.'-'.$logtype;
            }
          }
          $seriejson = json_encode($series);
          $legendjson = json_encode($legend);

          $planid = 'ecompoare';
          $html .= <<<__EOF
          <div id="ec_hour_{$planid}" style="width: 800px;height:300px;"></div>
          <script type="text/javascript">
            var myChart = echarts.init(document.getElementById('ec_hour_{$planid}'));
            var colors = ['red', '#675bba'];
            option = {
                // color: colors,
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross'
                    }
                },
                grid: {
                    right: '20%'
                },
                legend: {data:$legendjson},
                toolbox: {
                    feature: {
                        dataView: {show: true, readOnly: false},
                        magicType: {show: true, type: ['line', 'bar']},
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                xAxis: [
                    {
                        type: 'category',
                        axisTick: {
                            alignWithLabel: true
                        },
                        data: {$hourlabesjson}
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: '执行量',
                        position: 'right',
                        axisLine: {
                            lineStyle: {
                                color: colors[0]
                            }
                        },
                        axisLabel: {
                            formatter: '{value} '
                        }
                    }
                ],
                series: {$seriejson}
            };


            myChart.setOption(option);
          </script>
__EOF;
          echo $html;
        }
    ?>


  <h2>小时数据</h2>
  <?php 
      printHourEchart($hourdatas, $hourchartdata_t);
       function printHourEchart($hourdatas, $hourchartdata_t)
      {
        // 统计总数
        $totals = [];
        $linedata = [];
        $linedata['total'] = [];
        foreach ($hourdatas as $date=>$row4) {
          $totals[$date] = [];

          $hourchartdata = $row4['hourdata'];
          foreach ($hourchartdata as $planid => $hourdata1) {
            if (!isset($linedata[$planid])) {
              $linedata[$planid] = [];
            }
            if (!isset($linedata[$planid][$date])) {
              $linedata[$planid][$date] = [];
            }
            $linedata[$planid][$date] = $hourdata1;
            foreach ($hourdata1 as $hour1 => $count1) {
              if (!isset($totals[$date][$hour1])) {
                $totals[$date][$hour1] = 0;
              }
              $totals[$date][$hour1] += $count1;
            }
          }
          $linedata['total'][$date] = $totals[$date];
        }



        $hourlabes = [];
        for($i=0;$i<=23;$i++){
          $hourlabes[] = $i;
        }
        $hourlabesjson = json_encode($hourlabes);
        // print_r($hourlabesjson);
        $html = '';
        foreach ($linedata as $planid => $row5) {
          $aSeries = [];
          foreach ($row5 as $date => $hourdata1) {
            // var_dump($hourdata1);
            $aSeries[] = [
              "name" => '执行量'.$date,
              "type" => 'bar',
              "data" => array_values($hourdata1),
            ];
          }

          $aSeries[] = [
            "name" => '目标曲线',
            "type" => 'line',
            "yAxisIndex" => 1,
            "data" => $hourchartdata_t,
          ];
          $series = json_encode($aSeries);
          $jsontarget = json_encode($hourchartdata_t);

          $html .= <<<__EOF
            <center><h5>排期: {$planid}</h5></center>
          <div id="ec_hour_{$planid}" style="width: 800px;height:300px;"></div>
          <script type="text/javascript">
            var myChart = echarts.init(document.getElementById('ec_hour_{$planid}'));
            var colors = ['red', '#675bba', 'brown'];
            option = {
                color: colors,
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross'
                    }
                },
                grid: {
                    right: '20%'
                },
                toolbox: {
                    feature: {
                        dataView: {show: true, readOnly: false},
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                xAxis: [
                    {
                        type: 'category',
                        axisTick: {
                            alignWithLabel: true
                        },
                        data: {$hourlabesjson}
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: '执行量',
                        position: 'right',
                        axisLine: {
                            lineStyle: {
                                color: colors[0]
                            }
                        },
                        axisLabel: {
                            formatter: '{value} '
                        }
                    },
                    {
                        type: 'value',
                        name: '目标曲线',
                        position: 'left',
                        axisLine: {
                            lineStyle: {
                                color: colors[1]
                            }
                        }
                    }
                ],
                series: {$series}
            };


            myChart.setOption(option);
          </script>
__EOF;
        }
        echo $html;
      }
  ?>




    
    <h2>错误数据小时走势</h2>
    <?php 
        printHourEchart2($hourdatas);
         function printHourEchart2($hourdatas)
        {

          // 统计总数
          $totals = $linedata = [];
          $linedata['total'] = [];

          foreach ($hourdatas as $date=>$row4) {
            $totals[$date] = [];
            $hourchartdata = $row4['errorhourdata'];
            foreach ($hourchartdata as $planid => $hourdata1) {

              if (!isset($linedata[$planid])) {
                $linedata[$planid] = [];
              }
              if (!isset($linedata[$planid][$date])) {
                $linedata[$planid][$date] = [];
              }
              $linedata[$planid][$date] = $hourdata1;


              foreach ($hourdata1 as $hour1 => $count1) {

                if (!isset($totals[$date][$hour1])) {
                  $totals[$date][$hour1] = 0;
                }
                $totals[$date][$hour1] += $count1;
              }
            }
           $linedata['total'][$date] = $totals[$date];
          }


          $hourlabes = [];
          for($i=0;$i<=23;$i++){
            $hourlabes[] = $i;
          }
          $hourlabesjson = json_encode($hourlabes);
          $html = '';
          foreach ($linedata as $planid => $row5) {
              $aSeries = [];
              foreach ($row5 as $date => $hourdata1) {
                $aSeries[] = [
                  "name" => '数量'.$date,
                  "type" => 'line',
                  "data" => array_values($hourdata1),
                ];
              }
              $series = json_encode($aSeries);
              // var_dump($hourdata1);
              $msg = $planid;
              $planid = md5($planid);
              $jsonhour = json_encode(array_values($hourdata1));
              $html .= <<<__EOF
               <center><h5>{$msg}</h5></center>
              <div id="ec_hour_{$planid}" style="width: 800px;height:300px;"></div>
              <script type="text/javascript">
                var myChart = echarts.init(document.getElementById('ec_hour_{$planid}'));
                var colors = ['red', '#675bba', 'brown'];
                option = {
                    color: colors,
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        }
                    },
                    grid: {
                        right: '20%'
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    xAxis: [
                        {
                            type: 'category',
                            axisTick: {
                                alignWithLabel: true
                            },
                            data: {$hourlabesjson}
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '数量',
                            position: 'right',
                            axisLine: {
                                lineStyle: {
                                    color: colors[0]
                                }
                            },
                            axisLabel: {
                                formatter: '{value} '
                            }
                        }
                    ],
                    series: {$series}
                };
                myChart.setOption(option);
              </script>
__EOF;
          }
          echo $html;
        }
    ?>
 </body>
</html>