<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> adr server stats </title>
  <meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="http://libs.baidu.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <?php
                echo $this->ycheukfHeadlink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => '/module/'.strtolower(LAF_NAMESPACE).'/images/favicon.admin.ico'));
?>
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
//-->
</script>
 </head>

 <body>

  <?php

  $sActionUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'isblackip'));
  ?>
  <form action="<?php echo $sActionUrl?>" method="POST">
    <h5>查询黑名单(每个ip一行)</h5>
    <textarea name='ips' cols="100" rows=20><?php
    echo isset($_POST['ips'])?$_POST['ips']:'';
    ?> </textarea>
    <input type="submit" value="提交">
  </form>
    <h5>黑名单查询结果</h5>
  <pre>
    <?php
    print_r($this->aBlackIpResult);
    ?>
  </pre>
 </body>
</html>













