<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> 城市可执行量预测 </title>
	<meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
//-->
</script>
 </head>

 <body>
<h1>城市可执行量预测(一条代码)</h1>
<h4>以前一天的量为预估基础</h4>

<?php 

// $a1 = [];
// $a2 = [];
// foreach($this->aVpnIpHis as $sIp=>$row){
//   if (preg_match('/180\.97\.81\./', $sIp)) {
//     continue;
//   }
//   if (is_array($aIp2Iac[$sIp]['data'])) {
//     $mapresid = $aIp2Iac[$sIp]['data']['mapresid']."/".$aIp2Iac[$sIp]['data']['region'];
//     if (!isset($a1[$mapresid])) {
//       $a1[$mapresid] = [];
//     }

//     $a1[$mapresid][$sIp] = 1;
//   }
// }
// var_dump($a1);
?>

    <table class='table table-bordered'>
        <thead>
          <th>省份</th>
          <th>省份可执行pv量(cpm)</th>
          <th>城市</th>
          <!-- <th>昨天IP数</th> -->
          <th>城市可执行pv量(cpm)</th>
        </thead>
  <?php
    if (count($this->city2ips)) {
      // print_r($this->aVpnIpHis);
      $html = "";
      foreach ($this->aprovicesRes as $province => $cityrow) {
        $html .= "<tr>";
        $html .=  "<td rowspan=".count($cityrow).">".($province)." </td>";
        $provincecount = 0;

        $cityhtml = "";

        foreach ($cityrow as $cityid => $citylabel) {
          $count = isset($this->city2ips[$cityid]) ? ($this->city2ips[$cityid]) : 0;
          $provincecount += $count;

          $cityhtml .=  "<td>".$cityid."/".$citylabel."</td>";

          // echo "<td>".($count)." </td>";
          $cityhtml .=  "<td>".number_format($count*100/1000, 2)." </td>";
          $cityhtml .=  "</tr>";
        }
        $html .=  "<td rowspan=".count($cityrow).">".number_format($provincecount*100/1000, 2)." </td>";
        $html .= $cityhtml;
        $html .=  "</tr>";
        
      }
      echo $html;
    }
?>
  </table></div>

 </body>
</html>