    <?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
$aAdrServerInfo = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Common')->getAdrSerInfoById($this->nAdrId);
$oAddtionalObjec = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Addtional');

?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> SSP SCHEDULE </title>
    <meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
//-->
</script>
 </head>

 <body>
    <?php

    // var_dump($aCounterRanking);
    $aTrHTML = array();

    $aMetadataList = array();
    $aMetadataList[1014] = \Application\Model\Common::getResourceMetadaList($this->getHelperPluginManager()->getServiceLocator(), 1014);
    if (is_array($this->aCounterRanking) && count($this->aCounterRanking)) {
        foreach ($this->aCounterRanking as $sKtmp1 => $aRowTmp1) {
            $sCityTmp = join(",", $aRowTmp1['cities']);
            $sUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'histadschedule'))."?id=".($aRowTmp1['id']);
            $aTrHTML[] = <<<__EOF
            <tr>
                <td><a href="{$sUrl}" target=_blank>{$aRowTmp1['id']}</a></td>
                <td>{$aMetadataList[1014][$aRowTmp1['m1014_id']]}</td>
                <td>{$aRowTmp1['sspid']}</td>
                <td>{$aRowTmp1['code_label']}</td>
                <td>{$sCityTmp}</td>
                <td>{$aRowTmp1['schedule']}</td>
            </tr>
__EOF;
        }
    }
    
    ?>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>PLATFORM</th>
                    <th>SSP ID</th>
                    <th>LABEL</th>
                    <th>CITIES</th>
                    <th>SCHEDULE</th>
                </tr>
            </thead>
            <tbody>
                <?php
                echo join("", $aTrHTML);
                ?>
            </tbody>
        </table>
    </div>
 </body>
 </html>