<?php
// a();
// echo $aaa;
// bbb;
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
$aAdrServerInfo = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Common')->getAdrSerInfoById($this->nAdrId);
$oAddtionalObjec = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Addtional');

?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> <?php echo $this->nAdrId."/".$aAdrServerInfo['label'];?> - ADR SERVER </title>
    <meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
//-->
</script>
 </head>

 <body>

 <h1><?php echo $this->nAdrId."/".$aAdrServerInfo['label'];?></h1>



 <?php


   $sDir = BASE_INDEX_PATH."/../data/adr_trolley_release/package/";
   $sTrolleyLastestVersion = "";
   $aFiles = scandir($sDir, 1);
   foreach ($aFiles as $sFile) {
     if (preg_match("/^adr_trolley_release.*/i", $sFile)) {
       $sTrolleyLastestVersion = $sFile;
       break;
     }
   }


   $sLactestVersionFlag = "未升级到最新版本".$sTrolleyLastestVersion;
   if ($sTrolleyLastestVersion === $aAdrServerInfo['version']) {
     $sLactestVersionFlag = "";
   }

   $sHtmlTmp = "<table><tr><th>基础信息</th><th>UP-SEND</th><th>DOWN-GET</th></tr><tr><td style='vertical-align: top;'>";
   $sHtmlTmp .= $sLactestVersionFlag."";
   $sHtmlTmp .= "<pre>";

   $sHtmlTmp .= print_r($aAdrServerInfo, 1);
   $sHtmlTmp .= "</pre></td>";


   $sDate = date("Ymd");
   // LAF_CACHE_ADDTIONAL_GETLOG_PRE_312
   $aTmp1 = $oAddtionalObjec->getAddtionalRedis()->lRange(LAF_CACHE_ADDTIONAL_SENDLOG_PRE_311.$sDate."/".$this->nAdrId, -5, -1);
   $sHtmlTmp .= "<td style='vertical-align: top;'>";
   if (count($aTmp1)) {
    krsort($aTmp1);
    foreach($aTmp1 as $aRow1){
       $aTmpx = json_decode($aRow1, 1);

       unset($aTmpx[2]);
       $sHtmlTmp .= "<pre> ".print_r($aTmpx, 1)." </pre>";
       unset($aTmpx);
     }
   }
   $sHtmlTmp .= "</td>";


   $aTmp1 = $oAddtionalObjec->getAddtionalRedis()->lRange(LAF_CACHE_ADDTIONAL_GETLOG_PRE_312.$sDate."/".$this->nAdrId, -5, -1);
   $sHtmlTmp .= "<td style='vertical-align: top;'>";
   if (count($aTmp1)) {
    krsort($aTmp1);

    foreach($aTmp1 as $aRow1){
       $aTmpx = json_decode($aRow1, 1);
       unset($aTmpx[2]);
       $sHtmlTmp .= "<pre> ".print_r($aTmpx, 1)." </pre>";
     }
   }
   $sHtmlTmp .= "</td>";

   $sHtmlTmp .= "</tr>"; 


   // $sHtmlTmp .= "<hr/><h2>补量账户-城市</h2>"; 
   // $aCity2Count = $oAddtionalObjec->getAllCityCounter();
   // if (count($aCity2Count)) {
   //   arsort($aCity2Count);
   //   $sHtmlTmp .= "<table class='table table-bordered'>"; 

   //   foreach ($aCity2Count as $nCityId => $nCount) {
   //     $sHtmlTmp .= "<tr>"; 
   //     $sHtmlTmp .= "<td> ".$nCityId."-".\Application\Model\Common::getResourceMetaDataLabel($this->getHelperPluginManager()->getServiceLocator(), LAF_METADATATYPE_LOCATION, $nCityId)." </td>";
   //     $sHtmlTmp .= "<td> ".$nCount." </td>";
   //     $sHtmlTmp .= "</tr>"; 
   //   }
     $sHtmlTmp .= "</table>"; 
     
   // }



   // var_dump($sTrolleyLastestVersion);



   echo $sHtmlTmp;
 ?>
<pre>
  <?php
   print_r($aLastStats);
   ?>

</pre>>

 </body>
</html>