<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');

$nMaxCount = 30;
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> VPN供应商在各城市的拨号表现 </title>
	<meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css">body{margin: 20px;}</style>
 </head>
 <body>

 <h1>VPN供应商在各城市的拨号表现</h1>

  	<?php
  	// var_dump($this->datas);
  	$sHtml = "<h2>城市-供应商拨号表现</h1>";
  	$nIndex = 0;
    $aStore2Count = [];
  	foreach ($this->datas as $sDate => $aRow1) {

      $sHtml .= "<h3>".$sDate."</h3>";

      $sHtml .= <<<__EOF
      <table  class="table table-bordered">
       <thead>
         <th>城市</th>
         <th>供应商</th>
         <th>IP唯一数</th>
         <th>IP拨号数</th>
         <th>x次拨号能获得一个新ip</th>
       </thead><tbody>
__EOF;
      foreach ($aRow1['citys'] as $sCity => $aRow2) {

        foreach ($aRow2 as $sVpnStore => $aRow3) {
          
          if (!isset($aStore2Count[$sVpnStore])) {
            $aStore2Count[$sVpnStore] = [];
            $aStore2Count[$sVpnStore]["ips"] = [];
            $aStore2Count[$sVpnStore]["calls"] = 0;
          }
          foreach ($aRow3 as $ip=>$total) {
            $aStore2Count[$sVpnStore]["ips"][] = $ip;
            $aStore2Count[$sVpnStore]["calls"] += $total;

          }

          $ipdistinc = count($aRow3);
          $ipcalls = array_sum($aRow3);

          $ippercall = round($ipcalls/$ipdistinc, 2);

          $sTrStyle = '';
          if ($ippercall > 5) {
            $sTrStyle = 'style="background-color: bisque;"';
          }
          if ($ippercall > 20) {
            $sTrStyle = 'style="background-color: orangered;"';
          }
          $sHtml .= "<tr ".$sTrStyle.">";
          $sHtml .= "<td>".$sCity."</td>";
          $sHtml .= "<td>".$sVpnStore."</td>";
          $sHtml .= "<td>".$ipdistinc."</td>";
          $sHtml .= "<td>".$ipcalls."</td>";
          $sHtml .= "<td>".$ippercall."</td>";
          $sHtml .= "</tr>";
        }
      }
      $sHtml .= "</tbody></table>";

  	}
    // aAllVpnCities
    $sHtml2 = "<h2>供应商拨号</h1>";
      $sHtml2 .= <<<__EOF
      <table  class="table table-bordered">
       <thead>
         <th>供应商</th>
         <th>账号数量</th>
         <th>IP唯一数</th>
         <th>IP拨号数</th>
         <th>x次拨号能获得一个新ip</th>
       </thead><tbody>
__EOF;
    foreach ($aStore2Count as $sVpnStore=>$row) {
      $ips = array_unique($row['ips']);
      $sHtml2 .= "<tr>";
      $sHtml2 .= "<td>".$sVpnStore."</td>";
      $sHtml2 .= "<td>".$this->aStroe2Accs[$sVpnStore]."</td>";
      $sHtml2 .= "<td>".count($ips)."</td>";
      $sHtml2 .= "<td>".$row['calls']."</td>";
      $sHtml2 .= "<td>".round($row['calls']/count($ips), 2)."</td>";
      $sHtml2 .= "</tr>";
    }
    $sHtml2 .= "</tbody></table>";
  	// aAllVpnCities
    echo $sHtml2;
  	echo $sHtml;
?>

</body>
 </html>

