<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');


$stime = date("Y-m-d H:i:s", filemtime('/app/module/Lur/config/adr.shell.script.php'));
$runtime = $lastActiveTime - filemtime('/app/module/Lur/config/adr.shell.script.php');
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> adr script </title>
	<meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
//-->
</script>
 </head>

 <body>


    <h3>当前任务ID:<?php echo $this->taskid?>; 启动时间:<?php echo $stime?>; 执行时长:<?php echo $runtime/60 ?> 分钟</h3>
  
  <div class="tab-pane" id="vpniphis">
    
    <h5>当前机器锁定的adrid: <?php echo count($this->a2);?></h5>
    <table class='table table-bordered'>
        <thead>
          <th>机器名称</th>
          <th>ADR ID</th>
          <th>时间</th>
          <th>data</th>
        </thead>
  <?php

    if (count($this->a2)) {
      // print_r($this->aVpnIpHis);
      foreach($this->a2 as $host=>$row){
        $ajson = json_decode($row, 1);
          echo "<tr>";
          
          echo "<td>".$host."</td>";
          echo "<td>".$this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Common')->getAdrSerCopyScriptId($ajson['id'])."</td>";
          echo "<td>".$ajson['t']."</td>";
          echo "<td>".$row."</td>";
          echo "</tr>";
        }
    }
  ?>
  </table></div>

  
  <div class="tab-pane" id="vpniphis">
    
    <h5>脚本完成进度: <?php echo count($this->a1)."/".count($aAliveMachines);?></h5>
    <table class='table table-bordered'>
        <thead>
          <th>序号</th>
          <th>状态</th>
          <th>机器名称</th>
          <th>ADR ID</th>
          <th>data</th>
        </thead>
  <?php
  // print_r($this->taskid);
  // print_r($this->a1);
  // exit;
    if (count($this->a1)) {
      $index = 1;
      asort($aAliveMachines);
      foreach ($aAliveMachines as $adrid) {
        if (empty($adrid)) {
          continue;
        }

        if (isset($this->a1[$adrid])) {
          $ajson = json_decode($this->a1[$adrid], 1);
          $ajson['status'] = 'DONE';
          $ajson['data'] = $this->a1[$adrid];
          $sBgColor = "aquamarine";
        }else{
          $ajson = [];
          $ajson['status'] = 'PENDDING';
          $ajson['t'] = '';
          $ajson['data'] = '';
          $sBgColor = "";
        }
          echo "<tr style='background-color:{$sBgColor}'>";
          
          echo "<td>".$index++."</td>";
          echo "<td>".$ajson['status']."</td>";
          echo "<td>".$this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Common')->getAdrSerCopyScriptId($adrid)."</td>";
          echo "<td>".$ajson['t']."</td>";
          echo "<td>".$ajson['data']."</td>";
          echo "</tr>";
      }
      // print_r($this->aVpnIpHis);
      foreach($this->a1 as $adrid=>$row){
        }
    }
  ?>
  </table></div>


 </body>
</html>

 <script type="text/javascript">
$(".copy_adr_attach").click(function(event) {
  var oInput = $("<input value='~/Documents/script/adr-login.sh "+$(this).data('hid')+" "+$(this).data('dhost')+" "+$(this).data('aid')+" "+$(this).data('cid')+" '>");
  // var oInput = $("<input value='sudo docker exec -it adrequest"+$(this).data('id')+" bash'>");
    oInput.appendTo('body');
    oInput.select();
    document.execCommand("Copy"); // 执行浏览器复制命令
    oInput.remove()
});
 </script>