<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> across mapping </title>
	<meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
//-->
</script>
 </head>

 <body>


  
  <div class="tab-pane" id="vpniphis">
    <h3>ACROSS MAPPING</h3>
    
    <table class='table table-bordered'>
        <thead>
          <th>LUR ID</th>
          <th>TAG ID</th>
          <th>adtype id</th>
          <th>尺寸</th>
          <th>平台</th>
          <th>描述</th>
          <th>adtype 一级分类</th>
          <th>adtype 二级分类</th>
          <th>p_cpm</th>
          <th>p_cpc</th>
        </thead>
  <?php
    if (count($this->aTagList)) {
      // print_r($this->aVpnIpHis);
      foreach($this->aTagList as $id=>$row){

          $sUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'histadschedule'))."?id=".($row['lurid']);
          echo "<tr>";

          echo "<td><a href='".$sUrl."' target='_blank'>".$row['lurid']."</a></td>";
          echo "<td style='    background-color: bisque;'>".$id."</td>";
          echo "<td>".$row['at']."</td>";
          echo "<td>".$row['s']."</td>";
          echo "<td>".$row['adtype']['p']."/".$row['p']."/".$row['p_label']."</td>";

          echo "<td>".$row['m']."</td>";
          echo "<td>".$row['adtype']['l1']."</td>";
          echo "<td>".$row['adtype']['l2']."</td>";
          echo "<td>".$row['p_cpm']."</td>";
          echo "<td>".$row['p_cpc']."</td>";
          echo "</tr>";
        }
    }
  ?>
  </table></div>


 </body>
</html>