<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> adr schedule </title>
	<meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
//-->
</script>
 </head>

 <body>
 <?php
 $sTitle = $sContent = "";
foreach ($this->aSchedule as $key => $aTmp) {
	$sActive = $key==5 ? 'active' : '';
	$sTitle .= '<li class="'.$sActive.'"><a href="#tab'.$key.'" data-toggle="tab">'.$key.'/'.$aTmp['label'].'/'.count($aTmp['values']).'</a></li>';
	$sContent .= '<div class="tab-pane '.$sActive.'" id="tab'.$key.'">
       <pre>'.print_r($aTmp['values'], 1).'</pre>
     </div>';
}
 ?>
 <div class="tabbable"> <!-- Only required for left/right tabs -->
   <ul class="nav nav-tabs">
     <?php echo $sTitle;?>
   </ul>
   <div class="tab-content">
     <?php echo $sContent;?>
   </div>
 </div>




 </body>
</html>