<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> 各城市缺量状态 </title>
	<meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
//-->
</script>
 </head>

 <body>

  <?php

  $sUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewvpncities'));
  echo '<a target="blank" href="'.$sUrl.'">VPN覆盖的全部城市</a>';
  ?>
 <h1>各城市缺量状态</h1>
 <p><span  style="background-color: #FF5722;"  >VPN0&&自建代理&&第三方代理 均为0</span></p>
 <p><span  style="background-color: #00BCD4;"  >VPN 为0</span></p>
 <?php


  // $aAllJobs = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Addtional')->getAllCityCounter();
  // var_dump($aAllJobs);
  // exit;

 $sTitle = $sContent = "";
foreach ($this->aCity2Count as $nCityId => $nViewCount) {
  $sTmp = (isset($this->aM1007[$nCityId])?$this->aM1007[$nCityId]:"");
  $sTmp = $nCityId==9999 ? "全国" : $sTmp;

  // viewlackingcities
  $sUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewlackingcityinfo'))."?nCityId=".$nCityId;

  $sCityLabel = "<a target='blank' href='".$sUrl."'>".$nCityId."/".$sTmp."</a>";
  $sLackVpn = "";
  if (isset($this->aLackVpnCities[$sTmp])) {
    $sLackVpn = "无此城市, 需寻找新VPN供应商或VPS代理";
  }elseif (isset($this->aCurrentVpnRelation[$sTmp]) && count($this->aCurrentVpnRelation[$sTmp])) {
    $aTmp = array();
    foreach ($this->aCurrentVpnRelation[$sTmp] as $nAdrIdTmp => $aRowTmp) {

      $aAdrInfo = $this->aAdrSummary['aAdrServerInfo'][$nAdrIdTmp];

      $aTmp[] = $nAdrIdTmp."/".$aAdrInfo['label']."/".$aAdrInfo['current_citylabel']."/".$aAdrInfo['vpn']['vpnstore']."/".$aAdrInfo['vpn']['account'];
    }
    $sLackVpn = join("<br/>\n", $aTmp);
  }

  $nLackIpCount = (isset($this->aLackingCities[$nCityId])?$this->aLackingCities[$nCityId] : 0);

  $nSelfProxyCount = isset($this->aIproxyAllcities['self'][$sTmp]) ? count($this->aIproxyAllcities['self'][$sTmp]) : 0;
  $nSelfProxyCount = $nCityId==9999 ? count($this->aIproxyAllcities['self']) : $nSelfProxyCount;
  $nThirdProxyCount = isset($this->aIproxyAllcities['third'][$sTmp]) ? count($this->aIproxyAllcities['third'][$sTmp]) : 0;
  $nThirdProxyCount = $nCityId==9999 ? count($this->aIproxyAllcities['third']) : $nThirdProxyCount;
 $nVpnCount = isset($this->aVpnCity2Count[$sTmp]) ? $this->aVpnCity2Count[$sTmp]['count'] : 0;

  switch (1) {
    case ($nVpnCount==0 && $nThirdProxyCount==0 && $nSelfProxyCount==0 ):
      $sTrBgColor =  'style="background-color: #FF5722;" ' ;
      break;
    case ($nVpnCount==0 ):
      $sTrBgColor =  'style="background-color: #00BCD4;" ' ;
      break;
    
    default:
      $sTrBgColor = "";
      break;
  }

  $sContent .= <<<_EOF
    <tr $sTrBgColor>
      <td>{$sCityLabel}</td>
      <td>{$nViewCount}</td>
      <td>{$nLackIpCount}</td>
      <td>{$sLackVpn}</td>
      <td>{$nVpnCount}</td>
      <td>{$nSelfProxyCount}</td>
      <td>{$nThirdProxyCount}</td>
    </tr>
_EOF;
}

 ?>


   <table  class="table table-bordered">
    <thead>
      <th>city</th>
      <th>缺量</th>
      <th>IP用光次数</th>
      <th>VPN状态(当前拨号的账号)</th>
      <th>VPN库存</th>
      <th>自建代理</th>
      <th>第三方代理</th>
    </thead>
    <tbody>
      <?php echo $sContent;?>
    </tbody>
   </table>

 <h3>被暂时屏蔽的不可用VPN</h3>

 <table  class="table table-bordered">
  <thead>
    <th>hostid/accid</th>
    <th>vpnstore</th>
    <th>city</th>
    <th>host</th>
    <th>account</th>
  </thead>
  <tbody>
   <?php
      $aIgnoreVpnHostDatas = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Common')->getIgnoreVpnHostDatas();
      if (count($aIgnoreVpnHostDatas)) {
        $aNew4Html = array();
        foreach ($aIgnoreVpnHostDatas as $aRowTmp) {
          $aNew4Html[$aRowTmp['aHost']['vpnstore']."_".$aRowTmp['aAccount']['account']."_".$aRowTmp['aHost']['id']] = "
          <tr>
              <td>{$aRowTmp['aHost']['id']}/{$aRowTmp['aAccount']['id']}</td>
              <td>{$aRowTmp['aHost']['vpnstore']}</td>
              <td>{$aRowTmp['aHost']['city']}</td>
              <td>{$aRowTmp['aHost']['host']}</td>
              <td>{$aRowTmp['aAccount']['account']}</td>
          </tr>
          ";
        }
        ksort($aNew4Html);
        foreach ($aNew4Html as $s) {
          echo $s;
        }
      }

   // getIgnoreVpnHostDatas
   ?>
  </tbody>
 </table>


 <h3>LUR运营城市的IP库存</h3>
 <p><span  style="background-color: #FF5722;"  >量少 可用VPN代替的VPS (缺量平均值<2000 && 有VPN库存 && 有VPS)</span></p>
 <p><span  style="background-color: #00BCD4;"  >空转的VPS (缺量平均值<1000 && 有VPS)</span></p>
 <table  class="table table-bordered">
  <thead>
    <th>城市</th>
    <th>缺量总量 当天/昨天/前天</th>
    <th>三天缺量平均量</th>
    <th>VPN(库存)</th>
    <th>自建代理(当前在用)</th>
    <th>第三方代理(当前在用)</th>
  </thead>
  <tbody>
   <?php
        foreach ($this->aM1007 as $nCityId=>$sCityLabel) {

          $nLackIpCount = (isset($this->aLackingCities[$nCityId])?$this->aLackingCities[$nCityId] : 0);

          $nSelfProxyCount = isset($this->aIproxyAllcities['self'][$sCityLabel]) ? count($this->aIproxyAllcities['self'][$sCityLabel]) : 0;
          $nThirdProxyCount = isset($this->aIproxyAllcities['third'][$sCityLabel]) ? count($this->aIproxyAllcities['third'][$sCityLabel]) : 0;
          $nVpnCount = isset($this->aVpnCity2Count[$sCityLabel]) ? $this->aVpnCity2Count[$sCityLabel]['count'] : 0;

          $nLackCount1 = isset($this->aCity2Count[$nCityId]) ? $this->aCity2Count[$nCityId] : 0;
          $nLackCount2 = isset($this->aCity2Count2[$nCityId]) ? $this->aCity2Count2[$nCityId] : 0;
          $nLackCount3 = isset($this->aCity2Count3[$nCityId]) ? $this->aCity2Count3[$nCityId] : 0;
          $sLackCount = empty($nLackCount1)&&empty($nLackCount2)&&empty($nLackCount3) ? "" : "{$nLackCount1} / {$nLackCount2} / {$nLackCount3}";
          $nAvgLackCount = intval($nLackCount1+$nLackCount2+$nLackCount3/3);
          $sAvgLackCount = empty($nAvgLackCount) ? "" : $nAvgLackCount;

          $sTrBgColor = ($nAvgLackCount<2000 && $nVpnCount>0 && $nSelfProxyCount>0) ? 'style="background-color: #FF5722;" ' : '';
          if (empty($sTrBgColor)) {
            $sTrBgColor = ($nAvgLackCount<2000 &&  $nSelfProxyCount>0) ? 'style="background-color: #00BCD4;" ' : '';
          }



          echo "<tr $sTrBgColor>";
          echo "<td>{$nCityId}/{$sCityLabel}</td>";
          echo "<td>$sLackCount</td>";
          echo "<td>$nAvgLackCount</td>";
          // echo "<td>{$aRowTmp['vpnstore']}</td>";
          // echo "<td>{$aRowTmp['city']}</td>";
          echo "<td>{$nVpnCount}</td>";
          echo "<td>{$nSelfProxyCount}</td>";
          echo "<td>{$nThirdProxyCount}</td>";
          echo "</tr>";
        }

   ?>
  </tbody>
 </table>
<?php

?>


 </body>
</html>