<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');

$nMaxCount = 30;
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> VPN覆盖的城市 </title>
	<meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
//-->
</script>
 </head>

 <body>
<form method="POST">
  <textarea rows="10" cols="100" placeholder="请输入需要查找的城市, 每行一个" name="findcitys">
    <?php
    if (isset($_POST) && isset($_POST['findcitys'])) {
      echo $_POST['findcitys'];
    }

    ?>


  </textarea>
  <button type="submit">提交</button>
  <pre>
  <?php  
    if ($this->findcitys && count($this->findcitys)) {
      print_r($this->findcitys);  
    }
  ?>
  </pre>
</form>

 <h1>VPN覆盖的城市</h1>
 <h4 style="background-color: bisque;">存在缺量>10000 && 总账号数低于<?php echo $nMaxCount;?></h4>
 <h4 style="background-color: orangered;">存在缺量&&总账号数为0</h4>


 
 <table  class="table table-bordered">
  <thead>
    <th>NO</th>
    <th>供应商(账号数量)</th>
    <th>城市</th>
    <th>状态</th>
    <th>今天缺量/昨天缺量</th>
    <th>所属省</th>
    <th>更新进LUR的时间</th>
  </thead><tbody>
  	<?php
  	// var_dump($this->aAllVpnCities);
  	$sHtml = "";
  	$nIndex = 0;
  	foreach ($this->aAllVpnCities as $sCity => $aRow1) {

      $aLackT1 = [];
      $aLackT1[] = isset($aLackingCounts[$sCity]) ? $aLackingCounts[$sCity] : 0;
      $aLackT1[] = isset($aLackingCounts_yesterday[$sCity]) ? $aLackingCounts_yesterday[$sCity] : 0;
      $nLackTotal = array_sum($aLackT1);

      $sStatus = "";
      $nCityTotal = 0;
      foreach ($aRow1 as $sVpnStroy => $aRow2) {
        $nCityTotal += $aRow2['acccount'];
      }
      $sTrStyle = '';
      if ($nLackTotal>10000 && $nCityTotal < $nMaxCount) {
        $sTrStyle = 'style="background-color: bisque;"';
        $sStatus = "急缺";

      }
      if ($nLackTotal>0 && $nCityTotal == 0) {
        $sTrStyle = 'style="background-color: orangered;"';
        $sStatus = "非常急缺";
      }


  		$sHtml .= "<tr ".$sTrStyle.">";
      $sHtml .= "<td>".++$nIndex."</td><td>";
  		foreach ($aRow1 as $sVpnStroy => $aRow2) {
	  		$sHtml .= $aRow2['vpnstore']."(".$aRow2['acccount'].")<br/>";
  		}
      $sHtml .= "</td><td>".$sCity."</td>";
      $sHtml .= "<td>".$sStatus."</td>";
      $sHtml .= "<td>".join("/", $aLackT1)."</td>";
      $sHtml .= "<td>".$aRow2['memo']."</td>";
  		$sHtml .= "<td>".$aRow2['modified']."</td>";
  		$sHtml .= "</tr>";
  	}
  	// aAllVpnCities
  	echo $sHtml;
  	?>

  </tbody>


</body>
 </html>

