<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');

$nMaxCount = 30;
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> 当天问题代码
 </title>
	<meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
//-->
</script>
 </head>

 <body>


 <h1>当天问题代码,更新时间 <?php echo date("Y-m-d H:i:s");?></h1>
 
 <table  class="table table-bordered">
  <thead>
    <th>NO</th>
    <th>问题</th>
    <?php
      if ($this->nOpUserId == 1) {
        echo '
    <th>账号</th>';
      }
    ?>
    <th>客户</th>
    <th>代码</th>
    <th>导入排期</th>
    <th>导入时间</th>
    <th>检测时间</th>
  </thead><tbody>

  	<?php
  	$sHtml = "";
  	$nIndex = 0;
  	foreach ($this->aCodeMonitor as $codeid => $json) {
      // $json = json_decode($aRow1, 1);
      $sUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'histadschedule'))."?id=".($json[2]);


      $sHashV = \YcheukfCommon\Lib\Functions::encodeLafResouceId($json[4], 'system_batch_jobs');
      $dataurl = $this->url('lur/default', array('controller'=>'index', 'action'=>'realtimereport'))."?debug=1&idkey=system_batch_jobs___id&id=".$sHashV;



  		$sHtml .= "<tr >";
      $sHtml .= "<td>".++$nIndex."</td>";
      $sHtml .= "<td>没有数据,请检查</td>";
      if ($this->nOpUserId == 1) {
        
        $sHtml .= "<td>".$json[0]."</td>";
      }
      $sHtml .= "<td>".$json[1]."</td>";
      $sHtml .= "<td><a href='".$sUrl."' target=_blank>".$json[2].",".$json[3]."</a></td>";
      $sHtml .= "<td><a href='".$dataurl."' target=_blank>".$json[5]."</a></td>";
      $sHtml .= "<td>".$json[6]."</td>";
      $sHtml .= "<td>".date("Y-m-d H:i:s", $json[7])."</td>";
  		$sHtml .= "</tr>";
  	}
  	// aAllVpnCities
  	echo $sHtml;
  	?>

  </tbody>


</body>
 </html>

