<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> VPN拨号历史 </title>
	<meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
//-->
</script>
 </head>

 <body>


  
  <div class="tab-pane" id="vpniphis">
    <h3>日期:<?php echo $_GET['date'];?></h3>
    <h3>总IP条数:<?php echo count($this->aVpnIpHis);?></h3>
    <h3>BALCKIP条数:<?php echo ($this->nBlackIpCounter);?>, 占比<?php echo count($this->aVpnIpHis>0)?(round($this->nBlackIpCounter/count($this->aVpnIpHis), 4)*100):0;?>%</h3>
    


    <?php

    $sActionUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewvpniphis'))."?date=".$_GET['date'];
    ?>
    <form action="<?php echo $sActionUrl?>" method="POST">
      <h5>查询是否拨号的ip(每个ip一行)</h5>
      <textarea name='ips' cols="100" rows=5><?php
      echo isset($_POST['ips'])?$_POST['ips']:'';
      ?> </textarea>
      <input type="submit" value="提交">
    </form>
      <h5>查询结果</h5>
    <pre>
      <?php
      print_r($this->aSerarchIpResult);
      ?>
    </pre>

<?php 

$a1 = [];
$a2 = [];
foreach($this->aVpnIpHis as $sIp=>$row){
  if (preg_match('/180\.97\.81\./', $sIp)) {
    continue;
  }
  if (is_array($aIp2Iac[$sIp]['data'])) {
    $mapresid = $aIp2Iac[$sIp]['data']['mapresid']."/".$aIp2Iac[$sIp]['data']['region'];
    if (!isset($a1[$mapresid])) {
      $a1[$mapresid] = [];
    }
    if (!isset($a2[$mapresid])) {
      $a2[$mapresid] = [];
    }
    if (!isset($a2[$mapresid][$sIp])) {
      $a2[$mapresid][$sIp] = 0;
    }
    $a2[$mapresid][$sIp] += array_sum($row);
     // = join(',', array_keys($row));


    $a1[$mapresid][$sIp] = join(',', array_keys($row));
  }
}
// var_dump($a2);
?>
    <h5>打偏最多的城市</h5>

      <table class='table table-bordered'>
          <thead>
            <th>NO</th>
            <th>VPN城市</th>
            <th>IAC城市</th>
            <th>打偏ip数量, iac拨号数量, 打偏百分比</th>
          </thead>
    <?php
      if (count($this->aIpTotals)) {
        $index = 1;
        foreach($this->aIpTotals as $key => $count){
          list($vpncityid, $arccityid) = explode("-", $key);

          $sCityLabel = $vpncityid==9999 ? "全国" : \Application\Model\Common::getResourceMetaDataLabel($this->getHelperPluginManager()->getServiceLocator(), LAF_METADATATYPE_LOCATION, $vpncityid);
          $key2 = $vpncityid."/".$sCityLabel;


          $nTotal = isset($a1[$key2]) ? count($a1[$key2]) : 0;
          if ($index>=20) {
            continue;
          }
            echo "<tr>";
            echo "<td>".$index++."</td>";
            echo "<td>".$this->aUsVpnCityStatus[$key]['vpncity']."</td>";
            echo "<td>".$this->aUsVpnCityStatus[$key]['iaccity']."</td>";
            echo "<td>".$count
              .",".$nTotal
              .",".(empty($nTotal) ? 0 : round(100*$count/$nTotal, 2))
              ."</td>";
            echo "</tr>";
          }
      }
    ?>
    </table>

    <h5>vpn 城市拨号总数</h5>
    <table class='table table-bordered'>
        <thead>
          <th>所在城市</th>
          <th>总IP数(去重)</th>
          <th>总IP拨号数(不去重)</th>
          <th>唯一性百分比</th>
          <th>重复播号率</th>
          <th>ip => 拨号adr</th>
        </thead>
  <?php
    if (count($this->aVpnIpHis)) {
      // print_r($this->aVpnIpHis);
      foreach ($a1 as $mapresid => $row) {

        list($id1) = explode("/", $mapresid);
        $sCityUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewvpniphis'))."?date=".$_GET['date']."&mapresid=".trim($id1);

        echo "<tr>";
        
        echo "<td><a href='".$sCityUrl."' >".$mapresid." </a></td>";

        $total2 = count($row);
        $total3 = array_sum($a2[$mapresid]);

        if (isset($_GET['mapresid']) && $_GET['mapresid']== trim($id1)) {
          echo "<td>".$total2."\n".print_r($row, 1)." </td>";
        }else{
          echo "<td>".$total2." </td>";
        }
        echo "<td>".$total3." </td>";
        echo "<td>".(100*round($total2/$total3, 4))."% </td>";
        echo "<td>".(round($total3/$total2, 2))." </td>";

        echo "<td><ol>";
        foreach ($row as $ip => $str) {

          // echo "<li>".$ip.' => '.$str;
        }
        echo "</ol></td>";
        echo "</tr>";
      }
    }
?>
  </table></div>


 </body>
</html>