<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');

$nOpUserId = $this->getHelperPluginManager()->getServiceLocator()->get('zfcuser_auth_service')->getIdentity()->getId();


// var_dump($nOpUserId);

?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> MAPPING LIST </title>
	<meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
//-->
</script>
 </head>

 <body>

 <h1>MAPPING LIST</h1>


 <div class="tabbable"> <!-- Only required for left/right tabs -->
   <ul class="nav nav-tabs">
     <li class="active"><a href="#tab1" data-toggle="tab">城市</a></li>
     <li class=""><a href="#tab8" data-toggle="tab">省份</a></li>
     <li class=""><a href="#tab7" data-toggle="tab">省份->城市</a></li>
     <li class=""><a href="#tab2" data-toggle="tab">UA定向</a></li>
     <li class=""><a href="#tab3" data-toggle="tab">投放方式 SOURCE TYPE</a></li>
     <li class=""><a href="#tab4" data-toggle="tab">APP定向</a></li>
     <li class=""><a href="#tab5" data-toggle="tab">TA库</a></li>
     <?php 
     if (in_array($nOpUserId, [1,2003])) {
      echo ' <li class=""><a href="#tab6" data-toggle="tab">SH-VIDS</a></li>';
     }
     ?>
    
   </ul>
   <div class="tab-content">


 <div class="tab-pane active" id="tab1">
     <table  class="table table-bordered">
      <thead>
        <th>ID</th>
        <th>名称</th>
      </thead>
      <tbody>
        <?php 

        foreach ($this->aM1007 as $id => $label) {
          echo <<<_EOF
            <tr>
              <td>{$id}</td>
              <td>{$label}</td>
            </tr>
_EOF;
        }
        ?>
      </tbody>
     </table>
</div>



 <div class="tab-pane " id="tab2">
     <table  class="table table-bordered">
      <thead>
        <th>ID</th>
        <th>名称</th>
      </thead>
      <tbody>
        <?php 

        foreach ($this->aM1008 as $id => $label) {
          echo <<<_EOF
            <tr>
              <td>{$id}</td>
              <td>{$label}</td>
            </tr>
_EOF;
        }
        ?>
      </tbody>
     </table>
</div>



 <div class="tab-pane " id="tab3">
     <table  class="table table-bordered">
      <thead>
        <th>ID</th>
        <th>名称</th>
      </thead>
      <tbody>
        <?php 

        foreach ($this->aM1014 as $id => $label) {
          echo <<<_EOF
            <tr>
              <td>{$id}</td>
              <td>{$label}</td>
            </tr>
_EOF;
        }
        ?>
      </tbody>
     </table>
</div>



 <div class="tab-pane " id="tab4">
     <table  class="table table-bordered">
      <thead>
        <th>ID</th>
        <th>名称</th>
      </thead>
      <tbody>
        <?php 

        foreach ($this->aM1015 as $id => $label) {
          echo <<<_EOF
            <tr>
              <td>{$id}</td>
              <td>{$label}</td>
            </tr>
_EOF;
        }
        ?>
      </tbody>
     </table>
</div>


 <div class="tab-pane " id="tab5">
     <table  class="table table-bordered">
      <thead>
        <th>ID</th>
        <th>名称</th>
      </thead>
      <tbody>
        <?php 

        foreach ($this->aM1023 as $id => $label) {
          echo <<<_EOF
            <tr>
              <td>{$id}</td>
              <td>{$label}</td>
            </tr>
_EOF;
        }
        ?>
      </tbody>
     </table>
</div>

 <div class="tab-pane " id="tab7">
     <table  class="table table-bordered">
      <thead>
        <th>省份</th>
        <th>城市</th>
        <th>JSON</th>
      </thead>
      <tbody>
        <?php 

        foreach ($this->aprovicesRes as $id => $row) {
          $labels = join(",", $row);
          $ids = json_encode( array_keys($row));
          echo <<<_EOF
            <tr>
              <td>{$id}</td>
              <td>{$labels}</td>
              <td>{$ids}</td>
            </tr>
_EOF;
        }
        ?>
      </tbody>
     </table>
</div>
 <div class="tab-pane " id="tab8">
     <table  class="table table-bordered">
      <thead>
        <th>省份</th>
        <th>ID</th>
      </thead>
      <tbody>
        <?php 

        foreach ($this->aIaCprovicesRes as $id => $row) {
          $labels = $row['label'];
          $ids = json_encode( array_keys($row));
          echo <<<_EOF
            <tr>
              <td>{$labels}</td>
              <td>{$id}</td>
            </tr>
_EOF;
        }
        ?>
      </tbody>
     </table>
</div>

 <div class="tab-pane " id="tab6">
     <table  class="table table-bordered">
      <thead>
        <th>ID</th>
        <th>名称</th>
      </thead>
      <tbody>
        <?php 

        foreach ($this->aM1025 as $id => $label) {
          echo <<<_EOF
            <tr>
              <td>{$id}</td>
              <td>{$label}</td>
            </tr>
_EOF;
        }
        ?>
      </tbody>
     </table>
</div>


  </div>
</div>


 </body>
</html>