<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> adr server stats </title>
  <meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="http://libs.baidu.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <?php
                echo $this->ycheukfHeadlink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => '/module/'.strtolower(LAF_NAMESPACE).'/images/favicon.admin.ico'));
?>
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
//-->
</script>
 </head>

 <body>
 <?php
 $sTitle = $sContent = "";
foreach ($this->aM1009 as $key => $sLabel) {
  $sActive = $key==5 ? '' : '';
  $sTitle .= '<li class="'.$sActive.'"><a href="#tab'.$key.'" data-toggle="tab">'.$key.'/'.$sLabel.'</a></li>';
  if (!isset($aAdrStats[$key])) {
    $sContent .= '<div class="tab-pane '.$sActive.'" id="tab'.$key.'"><pre>';
    $sContent .= '该机器没有上传状态';
      $sContent .= '<p>';
    $sContent .= '<p>';
    $sContent .= ''.(isset($this->aAdrStats[$key]) ? print_r($this->aAdrStats[$key], 1) : "").'</pre>
       </div>';
  }else{
      // $sTmp = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Common')->getScheduleByAdrId($key, 0, 1);
      // $aJson = json_decode($sTmp, 1);
      // if($aJson){

        $sContent .= '<div class="tab-pane '.$sActive.'" id="tab'.$key.'"><pre>';

        // if ($aJson['md5'] != $aAdrStats[$key]['current_schedule_md5']) {
        //     $sContent .= "尚未加载最新排期:".$aJson['md5']."/".$aJson['laf-cachetime'];
        //   $sContent .= '<p>';
        //   $sContent .= '<p>';

        // }


        if (isset($aAdrStats[$key]['adr_server_reporttime'])) {
            $sContent .= $aAdrStats[$key]['adr_server_reporttime'];
          $sContent .= '<p>';

        }
        $sContent .= ''.(isset($this->aAdrStats[$key]) ? print_r($this->aAdrStats[$key], 1) : "").'</pre>
           </div>';
      // }



  }
}
// aUsStats
 ?>
 <div class="tabbable"> <!-- Only required for left/right tabs -->
   <ul class="nav nav-tabs">
     <?php echo $sTitle;?>
     <li class="usstats"><a href="#tabusstats" data-toggle="tab">US</a></li>
     <li class="summary active"><a href="#tabsummary" data-toggle="tab">summary</a></li>
     <li class="vpncitystats"><a href="#vpncitystats" data-toggle="tab">vpncitystats</a></li>
     <li class="vpniphis"><a href="#vpniphis" data-toggle="tab">vpniphis</a></li>
     <li class="iaciplist"><a href="#iaciplist" data-toggle="tab">iaciplist</a></li>

     <li class="other"><a href="#other" data-toggle="tab">其他链接</a></li>


   </ul>
   <div class="tab-content">
      <?php echo $sContent;?>




      <!-- summary 状态 -->
      <div class="tab-pane active" id="tabsummary">
      <table  class='table table-bordered'>
        <tr><td>TITLE</td><td>INFO</td><td>DETAIL</td></tr>
        <tr>
          <td>服务器实例 ONLINE/ALL</td>
          <td><?php
              echo count($this->aAdrSummary['aLiveAdrServerType2Id']['TRUCK']) ."/". count($this->aAdrSummary['aAllAdrServer']['aServerType2Id']['TRUCK'])
          ?></td>
          <td><table class='table table-bordered'>
            <thead>
              <th>ID</th>
              <th>LABEL</th>
              <th>激活</th>
              <th>最近三个小时量[上报]</th>
              <th>总量 当天/昨天/前天[上报]


              </th>
              <th>版本号<br>
                (truck自动升级开关:<?php echo $aConfig['adr-truck-releasable']?>)
              </th>
              <th style="display: none">最近三个小时量[执行]</th>
              <th style="display: none">总量 当天/昨天/前天[执行]</th>
            </thead><?php

// var_dump($this->aAdrSummary['aActiveTruck']);
            // foreach ($this->aAdrSummary['aLiveAdrServerType2Id']['TROLLEY-DIRECT'] as $nAdrServerIdTmp) {
            foreach ($this->aAdrSummary['aAllAdrServer']['aServerType2Id']['TRUCK'] as $nAdrServerIdTmp) {
              $aAdrServerInfoTmp = $this->aAdrSummary['aAdrServerInfo'][$nAdrServerIdTmp];
              



              // if (isset($aAdrServerInfoTmp['daycounter']) && ($aAdrServerInfoTmp['daycounter']>0 || $aAdrServerInfoTmp['daycounter_yesterday']>0) ) {
              // if (isset($aAdrServerInfoTmp['daycounter']) ) {
                // $sBgColor = in_array($nAdrServerIdTmp, $this->aAdrSummary['aLiveAdrServerType2Id']['TROLLEY-DIRECT']) ? "" : "#9E9E9E;";
                $sActive = isset($this->aAdrSummary['aActiveTruck']['id']) && $this->aAdrSummary['aActiveTruck']['id'] == $nAdrServerIdTmp ? 'active/'.$this->aAdrSummary['aActiveTruck']['date'] : '';


                $sVersion = isset($aAdrServerInfoTmp['version']) ? $aAdrServerInfoTmp['version']:"正在升级";
                $sVersion = str_replace("adr_trolley_release.", "", $sVersion);
                $sVersion = str_replace(".tar.gz", "", $sVersion);

                $sUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewadrserverinfo'))."?nAdrId=".$nAdrServerIdTmp;
                $sAdrLabel = "<a target='blank' href='".$sUrl."'>".$nAdrServerIdTmp.", ".$aAdrServerInfoTmp['label']."</a>";
                
                $sDayHourCounterHtml2 = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Common')->getAdrInfoCurrent3HourCount($aAdrServerInfoTmp, 'tds_counter');

                $sDayHourCounterHtml = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Common')->getAdrInfoCurrent3HourCount($aAdrServerInfoTmp, 'daycounter');

                $datahid = substr($aAdrServerInfoTmp['label'], 0, (strpos($aAdrServerInfoTmp['label'], '/')));

                echo "<tr>";
                echo "<td>".$this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Common')->getAdrSerCopyScriptId($nAdrServerIdTmp)."</td>";
                echo "<td >$sAdrLabel</td>";
                echo "<td >$sActive</td>";

                
                echo "<td>".$sDayHourCounterHtml2."</td>";
                echo "<td>".array_sum($aAdrServerInfoTmp['tds_counter'])." / ".array_sum($aAdrServerInfoTmp['tds_counter_yesterday'])." / ".array_sum($aAdrServerInfoTmp['tds_counter_yesterday2'])."</td>";
                echo "<td >$sVersion</td>";
                echo "<td style='display: none'>".$sDayHourCounterHtml."</td>";
                
                echo "<td style='display: none'>".$aAdrServerInfoTmp['daycounter']." / ".$aAdrServerInfoTmp['daycounter_yesterday']." / ".$aAdrServerInfoTmp['daycounter_yesterday2']."</td>";
                echo "</tr>";
              // }
            }


            ?></table></td>
        </tr>




        <tr>
          <td>PROXY ONLINE/ALL</td>
          <td><?php
              echo count($this->aAdrSummary['aLiveAdrServerType2Id']['TROLLEY-PROXY']) ."/". count($this->aAdrSummary['aAllAdrServer']['aServerType2Id']['TROLLEY-PROXY'])
          ?></td>
          <td><table class='table table-bordered'>
          <thead>
            <th>ID</th>
            <th>LABEL</th>
            <th>目标拨号城市/当前IP(/实际拨号城市)</th>
            <th>当前VPROXY   / 拨号失败次数</th>
            <th>版本号</th>
            <th>当天最近三个小时量</th>
            <th>总量 当天/昨天/前天</th>
          </thead>
          <?php

          $nTrIndex = 1;
          // asort($this->aAdrSummary['aAllAdrServer']['aServerType2Id']['TROLLEY-PROXY']);
          foreach ($this->aAdrSummary['aAllAdrServer']['aServerType2Id']['TROLLEY-PROXY'] as $nAdrServerIdTmp) {
            $aAdrServerInfoTmp = $this->aAdrSummary['aAdrServerInfo'][$nAdrServerIdTmp];
            if ($nAdrServerIdTmp == 47) {
              // var_dump($aAdrServerInfoTmp);
              # code...
            }
            
            if (isset($aAdrServerInfoTmp['daycounter'])  ) {
            // if (isset($aAdrServerInfoTmp['daycounter']) && ($aAdrServerInfoTmp['daycounter']>0 || $aAdrServerInfoTmp['daycounter_yesterday']>0) ) {

              $bVpnDirect = (isset($aAdrServerInfoTmp['vpn']) && count($aAdrServerInfoTmp['vpn']))? false : true;
              if (in_array($nAdrServerIdTmp, $this->aAdrSummary['aAliveMachines'])) {
                $sBgColor = (isset($aAdrServerInfoTmp['vpn']) && count($aAdrServerInfoTmp['vpn'])) ? "" : "#b3b3b3";
                $sBgColor = (isset($aAdrServerInfoTmp['localmachine_ip']) && (isset($aAdrServerInfoTmp['vpn']) && count($aAdrServerInfoTmp['vpn'])) && $aAdrServerInfoTmp['current_ip']==$aAdrServerInfoTmp['localmachine_ip']) ? "grey" : $sBgColor;
                $sVpnStatusLabel = ( !$bVpnDirect ? $aAdrServerInfoTmp['vpn']['accountid']."/".$aAdrServerInfoTmp['vpn']['vpnstore']."/".$aAdrServerInfoTmp['vpn']['account']."":"直连");

                if($aAdrServerInfoTmp['model']=="TROLLEY-PROXY"){
                  $sBgColor = "whitesmoke";
                  $sVpnStatusLabel = "代理";

                }
              }else{
                $sBgColor = "#efd0d0";
                $sVpnStatusLabel = "不在线";
              }
              $sVersion = isset($aAdrServerInfoTmp['version']) ? $aAdrServerInfoTmp['version']:"正在升级";
              $sVersion = str_replace("adr_trolley_release.", "", $sVersion);
              $sVersion = str_replace(".tar.gz", "", $sVersion);

              $sDayHourCounterHtml = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Common')->getAdrInfoCurrent3HourCount($aAdrServerInfoTmp);

              if (!$bVpnDirect && empty($sDayHourCounterHtml) || preg_match('/^0 \/ 0 /', $sDayHourCounterHtml)) {
                $sBgColor = "aquamarine";
              }

              $sUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewadrserverinfo'))."?nAdrId=".$nAdrServerIdTmp;
              $sAdrLabel = "<a target='blank' href='".$sUrl."'>".$nAdrServerIdTmp.", ".$aAdrServerInfoTmp['label']."</a>";



              
              $sHisFaildCount = 0;
                if($aAdrServerInfoTmp['model']=="TROLLEY-PROXY"){
                  $sVpnStatusLabel = $aAdrServerInfoTmp['proxyocnfig']['p']."/".$aAdrServerInfoTmp['proxyocnfig']['accid']."/".$aAdrServerInfoTmp['proxyocnfig']['clid']."/".$aAdrServerInfoTmp['proxyocnfig']['clabel'];
                  $sHisFaildCount = 0;
                }elseif (isset($aAdrServerInfoTmp['vpn']) && count($aAdrServerInfoTmp['vpn'])) {
                $sUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewVpnFaildHis'))."?id=".$aAdrServerInfoTmp['vpn']['accountid'];

                $aFailHis = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Addtional')->getVpnFaildHistoryByAccId($aAdrServerInfoTmp['vpn']['accountid']);
                $sHisFaildCount = "<a target='blank' href='".$sUrl."'>".count($aFailHis)."</a>";
              }
                $datahid = substr($aAdrServerInfoTmp['label'], 0, (strpos($aAdrServerInfoTmp['label'], '/')));

              echo "<tr style='background-color:{$sBgColor}'>";
              echo "<td>".$this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Common')->getAdrSerCopyScriptId($nAdrServerIdTmp)."</td>";
              $nTrIndex++;
              echo "<td>$sAdrLabel</td>";
              


              $sUrl3 = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewlackingcityinfo'))."?nCityId=".$aAdrServerInfoTmp['current_cityid'];

              $current_citylabel = "<a target='blank' href='".$sUrl3."'>".$aAdrServerInfoTmp['current_citylabel']."</a>";

              $bIsBlackIp = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Common')->isInBlackIpList($aAdrServerInfoTmp['current_ip']);

              echo "<td>".$current_citylabel."/<font style='background-color:".($bIsBlackIp?"chartreuse":"")."'>".$aAdrServerInfoTmp['current_ip']."</font>".(isset($aAdrServerInfoTmp['vpn']) && $aAdrServerInfoTmp['vpn']['city']!=$aAdrServerInfoTmp['current_citylabel'] ? "/".$aAdrServerInfoTmp['vpn']['city'] : "")."</td>";
              echo "<td>".$sVpnStatusLabel.", ".$sHisFaildCount."</td>";
              echo "<td>".$sVersion."</td>";
              echo "<td>".$sDayHourCounterHtml."</td>";
              echo "<td>".$aAdrServerInfoTmp['daycounter']." / ".$aAdrServerInfoTmp['daycounter_yesterday']." / ".$aAdrServerInfoTmp['daycounter_yesterday2']."</td>";

              echo "</tr>";
              }
          }
          ?></table></td>
        </tr>



        <tr>
          <td>
            VPN实例 ONLINE/ALL
          <p>VPN账号 ONLINE/ALL
          <p><span style='background-color:#efd0d0'>不在线</span></p>
          <p><span style='background-color:aquamarine'>拨号异常</span></p>
          <p><span style='background-color:grey'>拨号不成功</span></p>
          <p><span style='background-color:#b3b3b3'>直连</span></p>
          <p><span style='background-color:chartreuse'>在黑名单中</span></p>
          <p><span style='background-color:whitesmoke'>代理</span></p>


          </td>
          <td><?php
              echo count($this->aAdrSummary['aLiveAdrServerType2Id']['TROLLEY-VPN']) ."/". count($this->aAdrSummary['aAllAdrServer']['aServerType2Id']['TROLLEY-VPN']);
              echo "<br>";
              echo count($this->aAdrSummary['aUsingVpnAcc']) ."/". count($this->aAdrSummary['aAllVpnAccs']);
          ?></td>
          <td><table class='table table-bordered'>
          <thead>
            <th>ID</th>
            <th>LABEL</th>
            <th>目标拨号城市/当前IP(/实际拨号城市)</th>
            <th>当前VPN / 拨号失败次数</th>
            <th>版本号</th>
            <th>当天最近三个小时量</th>
            <th>总量 当天/昨天/前天</th>
          </thead>
          <?php
            // var_dump($this->aAdrSummary['aAllAdrServer']['aServerType2Id']['TROLLEY-VPN']);

          $nTrIndex = 1;
          foreach ($this->aAdrSummary['aAllAdrServer']['aServerType2Id']['TROLLEY-VPN'] as $nAdrServerIdTmp) {
            $aAdrServerInfoTmp = $this->aAdrSummary['aAdrServerInfo'][$nAdrServerIdTmp];
            if ($nAdrServerIdTmp == 47) {
              // var_dump($aAdrServerInfoTmp);
              # code...
            }
            
            if (isset($aAdrServerInfoTmp['daycounter'])  ) {
            // if (isset($aAdrServerInfoTmp['daycounter']) && ($aAdrServerInfoTmp['daycounter']>0 || $aAdrServerInfoTmp['daycounter_yesterday']>0) ) {

              $bVpnDirect = (isset($aAdrServerInfoTmp['vpn']) && count($aAdrServerInfoTmp['vpn']))? false : true;
              if (in_array($nAdrServerIdTmp, $this->aAdrSummary['aAliveMachines'])) {
                $sBgColor = (isset($aAdrServerInfoTmp['vpn']) && count($aAdrServerInfoTmp['vpn'])) ? "" : "#b3b3b3";
                $sBgColor = (isset($aAdrServerInfoTmp['localmachine_ip']) && (isset($aAdrServerInfoTmp['vpn']) && count($aAdrServerInfoTmp['vpn'])) && $aAdrServerInfoTmp['current_ip']==$aAdrServerInfoTmp['localmachine_ip']) ? "grey" : $sBgColor;
                $sVpnStatusLabel = ( !$bVpnDirect ? $aAdrServerInfoTmp['vpn']['accountid']."/".$aAdrServerInfoTmp['vpn']['vpnstore']."/".$aAdrServerInfoTmp['vpn']['account']."":"直连");

                if($aAdrServerInfoTmp['model']=="TROLLEY-PROXY"){
                  $sBgColor = "whitesmoke";
                  $sVpnStatusLabel = "代理";

                }
              }else{
                $sBgColor = "#efd0d0";
                $sVpnStatusLabel = "不在线";
              }
              $sVersion = isset($aAdrServerInfoTmp['version']) ? $aAdrServerInfoTmp['version']:"正在升级";
              $sVersion = str_replace("adr_trolley_release.", "", $sVersion);
              $sVersion = str_replace(".tar.gz", "", $sVersion);

              $sDayHourCounterHtml = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Common')->getAdrInfoCurrent3HourCount($aAdrServerInfoTmp);

              if (!$bVpnDirect && empty($sDayHourCounterHtml) || preg_match('/^0 \/ 0 /', $sDayHourCounterHtml)) {
                $sBgColor = "aquamarine";
              }

              $sUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewadrserverinfo'))."?nAdrId=".$nAdrServerIdTmp;
              $sAdrLabel = "<a target='blank' href='".$sUrl."'>".$nAdrServerIdTmp.", ".$aAdrServerInfoTmp['label']."</a>";



              
              $sHisFaildCount = 0;
                if($aAdrServerInfoTmp['model']=="TROLLEY-PROXY"){
                  $sVpnStatusLabel = $aAdrServerInfoTmp['proxyocnfig']['p']."/".$aAdrServerInfoTmp['proxyocnfig']['clid']."/".$aAdrServerInfoTmp['proxyocnfig']['clabel'];
                  $sHisFaildCount = 0;
                }elseif (isset($aAdrServerInfoTmp['vpn']) && count($aAdrServerInfoTmp['vpn'])) {
                $sUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewVpnFaildHis'))."?id=".$aAdrServerInfoTmp['vpn']['accountid'];

                $aFailHis = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Addtional')->getVpnFaildHistoryByAccId($aAdrServerInfoTmp['vpn']['accountid']);
                $sHisFaildCount = "<a target='blank' href='".$sUrl."'>".count($aFailHis)."</a>";
              }
                $datahid = substr($aAdrServerInfoTmp['label'], 0, (strpos($aAdrServerInfoTmp['label'], '/')));

              echo "<tr style='background-color:{$sBgColor}'>";
              echo "<td>".$this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Common')->getAdrSerCopyScriptId($nAdrServerIdTmp)."</td>";
              $nTrIndex++;
              echo "<td>$sAdrLabel</td>";
              


              $sUrl3 = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewlackingcityinfo'))."?nCityId=".$aAdrServerInfoTmp['current_cityid'];

              $current_citylabel = "<a target='blank' href='".$sUrl3."'>".$aAdrServerInfoTmp['current_citylabel']."</a>";

              $bIsBlackIp = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Common')->isInBlackIpList($aAdrServerInfoTmp['current_ip']);

              echo "<td>".$current_citylabel."/<font style='background-color:".($bIsBlackIp?"chartreuse":"")."'>".$aAdrServerInfoTmp['current_ip']."</font>".(isset($aAdrServerInfoTmp['vpn']) && $aAdrServerInfoTmp['vpn']['city']!=$aAdrServerInfoTmp['current_citylabel'] ? "/".$aAdrServerInfoTmp['vpn']['city'] : "")."</td>";
              echo "<td>".$sVpnStatusLabel.", ".$sHisFaildCount."</td>";
              echo "<td>".$sVersion."</td>";
              echo "<td>".$sDayHourCounterHtml."</td>";
              echo "<td>".$aAdrServerInfoTmp['daycounter']." / ".$aAdrServerInfoTmp['daycounter_yesterday']." / ".$aAdrServerInfoTmp['daycounter_yesterday2']."</td>";

              echo "</tr>";
              }
          }
          ?></table></td>
        </tr>

      </table>

      <pre>
      <?php
        // print_r($aAdrSummary);
      ?>
      </pre>
      </div>


      <!-- us 状态 -->
      <div class="tab-pane" id="tabusstats">
      <pre>
      <p><?php echo @$this->aUsStats['reporttime'];?></p>
      <?php
        print_r($this->aUsStats);
      ?>
      </pre></div>


      <div class="tab-pane" id="vpncitystats">
        <h5>打偏最多的城市</h5>

          <table class='table table-bordered'>
              <thead>
                <th>NO</th>
                <th>VPN城市</th>
                <th>IAC城市</th>
                <th>ip数量</th>
              </thead>
        <?php
          if (count($this->aIpTotals)) {
            $index = 1;
            foreach($this->aIpTotals as $key => $count){
              if ($index>=20) {
                continue;
              }
                echo "<tr>";
                echo "<td>".$index++."</td>";
                echo "<td>".$this->aUsVpnCityStatus[$key]['vpncity']."</td>";
                echo "<td>".$this->aUsVpnCityStatus[$key]['iaccity']."</td>";
                echo "<td>".$count."</td>";
                echo "</tr>";
              }
          }
        ?>
        </table>

        <table class='table table-bordered'>
            <thead>
              <th>NO</th>
              <th>VPN城市</th>
              <th>IAC城市</th>
              <th>影响代码</th>
              <th>对应IP</th>
            </thead>
      <?php
        if (count($this->aUsVpnCityStatus)) {
          $index = 1;
          foreach($this->aUsVpnCityStatus as $row){
            if (count($row['ips'])<=3) {
              continue;
            }
              echo "<tr>";

              echo "<td>".$index++."</td>";
              echo "<td>".$row['vpncity']."</td>";
              echo "<td>".$row['iaccity']."</td>";
              echo "<td>".join(",", $row['codes'])."</td>";
              echo "<td><ul><li>".join("</li><li>", $row['ips'])."</li></ul></td>";
              echo "</tr>";
            }
        }
      ?>
      </table></div>

      <!-- vpnip拨号历史 -->
      <div class="tab-pane" id="vpniphis">
      <?php


      /**
       * #######closure function start#######
       */
      $fHisLinkFunc = function($date) 
      {

        $sUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewvpniphis'))."?date=".$date;
        $sAdrLabel = "<p><a target='blank' href='".$sUrl."'>".$date."</a>";
        echo $sAdrLabel;
      };
      $fHisLinkFunc(date("Ymd", strtotime("-5 day")));
      $fHisLinkFunc(date("Ymd", strtotime("-4 day")));
      $fHisLinkFunc(date("Ymd", strtotime("-3 day")));
      $fHisLinkFunc(date("Ymd", strtotime("-2 day")));
      $fHisLinkFunc(date("Ymd", strtotime("-1 day")));
      $fHisLinkFunc(date("Ymd"));
      //unset($fHisLinkFunc);
           
      ?>
      </div>

      <!-- vpnip拨号历史 -->
      <div class="tab-pane" id="iaciplist">
        <?php

        $sActionUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'isblackip'));
        ?>
        <h3>IAC IP库版本:<?php echo $this->aIacIpInfo['version']?></h3>
        <h3>IAC iacmapping_count:<?php echo $this->aIacIpInfo['iacmapping_count']?></h3>
        <h3>IAC iacmapping_score_count:<?php echo $this->aIacIpInfo['iacmapping_score_count']?></h3>

        
        <h3>黑名单版本:<?php echo $this->aBlackIpInfo['version']?></h3>
        <h3>黑名单ip个数:<?php echo $this->aBlackIpInfo['count']?></h3>
        <form target="_black" action="<?php echo $sActionUrl?>" method="POST">
          <h5>查询黑名单(每个ip一行)</h5>
          <textarea name='ips'> </textarea>
          <input type="submit" value="提交">
        </form>
      </div>

      
      <!-- vpnip拨号历史 -->
      <div class="tab-pane" id="other">
        <?php

        $sActionUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewadrscripts'));
        $sMangoUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'hunanreport'));
        
        $viewvpncities = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewvpncities'));
        $viewbadcode = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewbadcode'));

        $viewvpnstroestats = $this->url('lur/default', array('controller'=>'index', 'action'=>'viewvpnstroestats'));
        
        ?>
        <h4>adr批量脚本</h4>
        <a href="<?php echo $sActionUrl;?>" target="_blank" >adr批量脚本</a>

        <h4>hn 数据报告</h4>
        <a href="<?php echo $sMangoUrl;?>" target="_blank" >hn 数据报告</a>


        <h4>VPN覆盖的全部城市</h4>
        <a target="blank" href="<?php echo $viewvpncities;?>">VPN覆盖的全部城市</a>

        <h4>VPN供应商在各城市的拨号表现</h4>
        <a target="blank" href="<?php echo $viewvpnstroestats;?>">VPN供应商在各城市的拨号表现</a>


        <h4>没有数据的代码</h4>
        <a target="blank" href="<?php echo $viewbadcode;?>">没有数据的代码</a>
        
      </div>


   </div>
 </div>


 <script type="text/javascript">

$(".copy_adr_attach").click(function(event) {
  // console.log($(this).data('id'));

  var oInput = $("<input value='~/Documents/script/adr-login.sh "+$(this).data('hid')+" "+$(this).data('dhost')+" "+$(this).data('aid')+" "+$(this).data('cid')+" '>");
  // var oInput = $("<input value='sudo docker exec -it adrequest"+$(this).data('id')+" bash'>");
    oInput.appendTo('body');
    oInput.select();
    document.execCommand("Copy"); // 执行浏览器复制命令
    oInput.remove()
});


 </script>
 </body>
</html>













