<?php
$this->layout('layout/blank');
$aConfig = $this->getHelperPluginManager()->getServiceLocator()->get('config');
?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> <?php echo $this->nCityId."/".$this->sLabel1007;?>城市缺量明细 </title>
    <meta charset="utf-8">
<style>
th,h4{background-color:#ffff99}
</style>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css">body{margin: 20px;}</style>
<script type="text/javascript">
<!--
//-->
</script>
 </head>

 <body>

 <h1><?php echo $this->nCityId."/".$this->sLabel1007;?></h1>



<?php

$oAddtionalObjec = $this->getHelperPluginManager()->getServiceLocator()->get('\Lur\Service\Addtional');

$aTrBgColors = array(
  "lightgray",
  "white",
);
$nIndex2 = 0;
$sHtmlTmp = "";
$aJobs = $oAddtionalObjec->getAllJobs();
$nTotal = 0;
$nCodeCount = 0;
if (count($aJobs)) {
    $sHtmlTmp .= "<table class='table table-bordered'>"; 
    ksort($aJobs);
    foreach ($aJobs as $nCityId => $aTmp2) {
      if ($this->nCityId!=$nCityId) {
        continue;
      }
      $nIndex2++;
      arsort($aTmp2);
      $sColor = $aTrBgColors[$nIndex2%2];

      foreach ($aTmp2 as $sJobkey => $nCount) {
        $nTotal += $nCount;
        $aSplitTmp1 = explode("-", $sJobkey);
        $sUrl = $this->url('lur/default', array('controller'=>'index', 'action'=>'histadschedule'))."?id=".($aSplitTmp1[0]);
        $sHtmlTmp .= "<tr  style='background-color: ".$sColor.";'>"; 
        $sHtmlTmp .= "<td> ".$nCityId." </td>";
        $sHtmlTmp .= "<td> <a href='".$sUrl."' target='_blank'>".$sJobkey."</a> </td>";
        $sHtmlTmp .= "<td> ".$nCount." </td>";
        $sHtmlTmp .= "</tr>"; 
        $nCodeCount++;
      }
    }
    $sHtmlTmp .= "<table class='table table-bordered'>"; 
  }


  echo "<hr/><h2>总量/条数 : ".$nTotal." / ".$nCodeCount."</h2>".$sHtmlTmp;
?>

 </body>
</html>